<%page args="course, enrollment, show_courseware_link, cert_status, show_email_settings, course_mode_info, show_refund_option, is_paid_course, is_course_blocked, verification_status, course_requirements, dashboard_index, share_settings" />

<%!
import urllib

from django.utils.translation import ugettext as _
from django.utils.translation import ungettext
from django.core.urlresolvers import reverse
from markupsafe import escape
from courseware.courses import course_image_url, get_course_about_section
from course_modes.models import CourseMode
from student.helpers import (
  VERIFY_STATUS_NEED_TO_VERIFY,
  VERIFY_STATUS_SUBMITTED,
  VERIFY_STATUS_APPROVED,
  VERIFY_STATUS_MISSED_DEADLINE,
  VERIFY_STATUS_NEED_TO_REVERIFY
)
%>

<%
  cert_name_short = course.cert_name_short
  if cert_name_short == "":
    cert_name_short = settings.CERT_NAME_SHORT

  cert_name_long = course.cert_name_long
  if cert_name_long == "":
    cert_name_long = settings.CERT_NAME_LONG
  billing_email = settings.PAYMENT_SUPPORT_EMAIL
%>

<%namespace name='static' file='../static_content.html'/>

<% course_target = reverse('info', args=[unicode(course.id)]) %>

<style type="text/css">
 article.course .icon1 {
		display:block;
		width:56px;
		height:73px;
		background:url('/static/themes/default/images/application/icon_certificate.png') no-repeat 0 0;
		background-size:100% 100%;
		position:absolute;
		top: 26px;
		right: -3px;
	}
 article.course .icon2 {
		display:block;
		width:56px;
		height:73px;
		background:url('/static/themes/default/images/application/icon_confirmation.png') no-repeat 0 0;
		background-size:100% 100%;
		position:absolute;
		top: 26px;
		right: -3px;
	}
article.course h3 {max-width:477px}
.dashboard .my-courses .course .info .enter-course:focus:not(:disabled) {
  border: 0;
  box-shadow: none;
</style>

<li class="course-item">
        <article class="course">
                <div class="cover">
                        <img src="${course_image_url(course)}" alt="${_('{course_number} {course_name} Home Page').format(course_number=course.number, course_name=course.display_name_with_default) |h}" />
                </div>
                <section class="info">
                        <hgroup>
                                <p class="date-block">
                              % if course.has_ended():
                                강의종료${_(" - {end_date}").format(end_date=course.end_datetime_text("SHORT_DATE"))}
                              % elif course.has_started():
                                강의중${_(" - {start_date}").format(start_date=course.start_datetime_text("SHORT_DATE"))}
                              % elif course.start_date_is_still_default: # Course start date TBD
                                진행예정
                              % else:   # hasn't started yet
                                시작일${_(" - {start_date}").format(start_date=course.start_datetime_text("SHORT_DATE"))}
                              % endif

                                </p>
                                <h2 class="university">${course.display_number_with_default | h}<span>${get_course_about_section(course, 'university')}</span></h2>
                                <h3>
                                        <span>${course.display_name_with_default}</span>
                                </h3>
                        </hgroup>
                        % if show_courseware_link:
                        <a href="${course_target}" class="enter-course">강의듣기</a>
                        % else:
                        <a href="javascript:divShow('${course.start_datetime_text("SHORT_DATE")}');" class="enter-course">
                            강의듣기</a>
                        % endif
						<!--<a href="#" class="enter-course" style="margin-left:10px;background:#ccc">수료증보기</a>-->
                        <!--
                        <a href="#" class="enter-course" style="background: #ccc;float: right;position: relative;bottom: -42px;right: -20px;">취소</a>
                        -->

              % if course.has_started() is False & course.has_ended() is False:
              <!--취소버튼-->
              <div class="wrapper-action-more">
                <a href="#actions-dropdown-${dashboard_index}" class="action action-more" id="actions-dropdown-link-${dashboard_index}" aria-haspopup="true" aria-expanded="false" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}">
                  <span class="sr">${_('Course options dropdown')}</span>
                    <!--
                  <i class="fa fa-cog" aria-hidden="true"></i>
                    -->
                </a>
                <div class="actions-dropdown" id="actions-dropdown-${dashboard_index}" aria-label="${_('Additional Actions Menu')}">
                  <ul class="actions-dropdown-list" id="actions-dropdown-list-${dashboard_index}" aria-label="${_('Available Actions')}" role="menu">
                    <li class="actions-item" id="actions-item-unenroll-${dashboard_index}">
                      % if is_paid_course and show_refund_option:
                        ## Translators: The course name will be added to the end of this sentence.
                        % if not is_course_blocked:
                        <a href="#unenroll-modal" style="position:relative;top:40px;left:13px;" class="action action-unenroll" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}"
                           onclick="set_unenroll_message('1${_("Are you sure you want to unenroll from the purchased course %(course_number)s?")}', '${_("You will be refunded the amount you paid.")}')">
                          강의취소
                        </a>
                        % else:
                        <a class="action action-unenroll is-disabled" style="position:relative;top:40px;left:13px;" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}"
                           onclick="set_unenroll_message('2${_("Are you sure you want to unenroll from the purchased course %(course_number)s?")}', '${_("You will be refunded the amount you paid.")}')">
                          강의취소
                        </a>
                        % endif
                      % elif is_paid_course and not show_refund_option:
                        ## Translators: The course's name will be added to the end of this sentence.
                        % if not is_course_blocked:
                        <a href="#unenroll-modal" class="action action-unenroll" style="position:relative;top:40px;left:13px;" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}"
                           onclick="set_unenroll_message('3${_("Are you sure you want to unenroll from the purchased course %(course_number)s?")}', '${_("You will not be refunded the amount you paid.")}')">
                          강의취소
                        </a>
                        % else:
                        <a class="action action-unenroll is-disabled" style="position:relative;top:40px;left:13px;" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}"
                           onclick="set_unenroll_message('4${_("Are you sure you want to unenroll from the purchased course %(course_number)s?")}', '${_("You will not be refunded the amount you paid.")}')">
                          강의취소
                        </a>
                        % endif
                      % elif enrollment.mode != "verified":
                        ## Translators: The course's name will be added to the end of this sentence.
                        % if not is_course_blocked:
                        <a href="#unenroll-modal" class="action action-unenroll" style="position:relative;top:40px;left:13px;" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}"
                           onclick="set_unenroll_message('강의를 취소하시겠습니까?', '')">
                          강의취소
                        </a>
                        % else:
                        <a class="action action-unenroll is-disabled" style="position:relative;top:40px;left:13px;" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}"
                           onclick="set_unenroll_message('6${_("Are you sure you want to unenroll from %(course_number)s?")}', '')">
                          강의취소
                        </a>
                        % endif
                      % elif show_refund_option:
                        ## Translators: The course's name will be added to the end of this sentence.
                        % if not is_course_blocked:
                        <a href="#unenroll-modal" class="action action-unenroll" style="position:relative;top:40px;left:13px;" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}"
                           onclick="set_unenroll_message(
                                        '7${_("Are you sure you want to unenroll from the verified {cert_name_long} track of %(course_number)s?").format(cert_name_long=cert_name_long)}',
                                        '${_("You will be refunded the amount you paid.")}'
                                    )"
                        >
                          강의취소
                        </a>
                        % else:
                        <a class="action action-unenroll is-disabled" style="position:relative;top:40px;left:13px;" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}"
                           onclick="set_unenroll_message(
                                        '8${_("Are you sure you want to unenroll from the verified {cert_name_long} track of %(course_number)s?").format(cert_name_long=cert_name_long)}',
                                        '${_("You will be refunded the amount you paid.")}'
                                    )"
                        >
                          강의취소
                        </a>
                        % endif
                      % else:
                        ## Translators: The course's name will be added to the end of this sentence.
                        % if not is_course_blocked:
                        <a href="#unenroll-modal" class="action action-unenroll" style="position:relative;top:40px;left:13px;" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}"
                           onclick="set_unenroll_message(
                                        '9${_("Are you sure you want to unenroll from the verified {cert_name_long} track of %(course_number)s?").format(cert_name_long=cert_name_long)}',
                                        '${_("The refund deadline for this course has passed, so you will not receive a refund.")}'
                                    )"
                        >
                          강의취소
                        </a>
                        % else:
                        <a class="action action-unenroll is-disabled" style="position:relative;top:40px;left:13px;" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}"
                           onclick="set_unenroll_message(
                                        '10${_("Are you sure you want to unenroll from the verified {cert_name_long} track of %(course_number)s?").format(cert_name_long=cert_name_long)}',
                                        '${_("The refund deadline for this course has passed, so you will not receive a refund.")}'
                                    )"
                        >
                          강의취소
                        </a>
                        % endif
                      % endif
                    </li>
                    <li class="actions-item" id="actions-item-email-settings-${dashboard_index}">
                      % if show_email_settings:
                        % if not is_course_blocked:
                          <a href="#email-settings-modal" class="action action-email-settings" rel="leanModal" data-course-id="${course.id | h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}" data-optout="${unicode(course.id) in course_optouts}">${_('Email Settings')}</a>
                        % else:
                          <a class="action action-email-settings is-disabled" data-course-id="${course.id| h}" data-course-number="${course.number | h}" data-dashboard-index="${dashboard_index}" data-optout="${unicode(course.id) in course_optouts}">${_('Email Settings')}</a>
                        % endif
                      % endif
                    </li>
                  </ul>
                </div>
              </div>
              <!--취소버튼-->
              % endif

                </section>


				<!--공식 수료증 아이콘-->
				<!--<span class="icon1"></span>-->

				<!--수강 확인증 아이콘-->
				<span class="icon2"></span>


        </article>
</li>


<script type="text/javascript">

    function divShow(startDt) {
        $(".instructions").html("<p>개강일은 "+startDt+"입니다.</p>");
		$("#lean_overlay").show();

		$("#forgot-password-modal").css({'top': Math.max(0, (($(window).height() - $("#forgot-password-modal").outerHeight()) / 2) + $(window).scrollTop()) + "px"});
		$("#forgot-password-modal").show();
    }

	function divHide(){
		$("#lean_overlay").hide();
		$("#forgot-password-modal").hide();
	}
</script>

<div id="lean_overlay" style="opacity: 1;" onclick="javascript:divHide();"></div>
<section id="forgot-password-modal" class="modal" role="dialog" tabindex="-1" aria-label="Password Reset" style="position:absolute;top:50%;left:50%;margin-left:-250px;margin-top:-50px;z-index:1000;">
  <div class="inner-wrapper">
    <button class="close-modal" onclick="divHide();">
      <i class="icon fa fa-remove"></i>
      <span class="sr" >
        Close
      </span>
    </button>
	<header style="padding-bottom:0;margin-bottom:10px">
      <h2 style="color: #2e2e2e;font-family: 'NanumBarunGothic' !important;margin-bottom: 10px;">알림</h2>
      <hr>
    </header>
	<div id="password-reset" style="text-align: center;">
      <form> <!-- Here for styling reasons -->
        <section class="instructions">
          <p>이메일은 zudain@naver.com으로 전송되었습니다.<br>비밀번호를 변경하려면 이메일에 있는 링크를 따르십시오.</p>
        </section>
      </form>
    </div>
  </div>
</section>

<script>
           $( document ).ready(function() {

               if("${is_course_blocked}" == "True"){
                   $( "#unregister_block_course" ).click(function() {
                       $('.disable-look-unregister').click();
                   });
               }
           });

           function set_unenroll_message(track_info, refund_info) {
               document.getElementById('track-info').innerHTML = interpolate(track_info, {course_number: "<span id='unenroll_course_number'></span>"}, true);
               document.getElementById('refund-info').innerHTML = refund_info;
           }
</script>
