<%namespace name='static' file='../static_content.html'/>
<%!
from microsite_configuration import microsite
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
from django.conf import settings
from edxmako.shortcuts import marketing_link
%>

<%inherit file="../main.html" />
<%block name="headextra">

  <%
    if self.theme_enabled():
      google_analytics_file = u'../{ga}'.format(
        ga=microsite.get_value('google_analytics_file', 'theme-google-analytics.html')
      )
    else:
      google_analytics_file = '../google_analytics.html'
  %>

  <%include file="${google_analytics_file}" />

  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${get_course_about_section(course, 'title')}" />
  <meta property="og:description" content="${get_course_about_section(course, 'short_description')}" />
</%block>

<%block name="js_extra">

  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      alert("register click"); return;

      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    % if can_add_course_to_cart:
      add_course_complete_handler = function(jqXHR, textStatus) {
        if (jqXHR.status == 200) {
          location.href = "${cart_link}";
        }
        if (jqXHR.status == 400) {
          $("#register_error")
            .html(jqXHR.responseText ? jqXHR.responseText : "${_("An error occurred. Please try again later.")}")
            .css("display", "block");
        }
        else if (jqXHR.status == 403) {
            location.href = "${reg_then_add_to_cart_link}";
        }
      };
      $("#add_to_cart_post").click(function(event){
        $.ajax({
          url: "${reverse('add_course_to_cart', args=[course.id.to_deprecated_string()])}",
          type: "POST",
          /* Rant: HAD TO USE COMPLETE B/C PROMISE.DONE FOR SOME REASON DOES NOT WORK ON THIS PAGE. */
          complete: add_course_complete_handler
        })
        event.preventDefault();
      });
    % endif

    ## making the conditional around this entire JS block for sanity
    %if settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
      <%
        perms_error = _('The currently logged-in user account does not have permission to enroll in this course. '
                        'You may need to {start_logout_tag}log out{end_tag} then try the register button again. '
                        'Please visit the {start_help_tag}help page{end_tag} for a possible solution.').format(
                          start_help_tag="<a href='{url}'>".format(url=marketing_link('FAQ')), end_tag='</a>',
                          start_logout_tag="<a href='{url}'>".format(url=reverse('logout'))
                          )
      %>
    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        location.href = "${reverse('dashboard')}";
      } else if (xhr.status == 403) {
        location.href = "${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}?course_id=${course.id | u}&enrollment_action=enroll";
      } else if (xhr.status == 400) { //This means the user did not have permission
        $('#register_error').html("${perms_error}").css("display", "block");
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %else:

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard')}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
          location.href = "${reverse('register_user')}?course_id=${course.id | u}&enrollment_action=enroll";
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %endif

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
  <link rel="stylesheet" href="/static/css/m2ly6jxt.css">

</%block>

<%block name="pagetitle">${get_course_about_section(course, "title")}</%block>

<section class="course-info">

  <section class="container">
  <section id="main-content">
    <section class="details">
      <div class="inner-wrapper">
          ${get_course_about_section(course, "overview")}
            %if user.is_authenticated() and registered:
              %if show_courseware_link:
                <a class="action access-courseware btn_block" href="${course_target}"><strong>수강 듣기</strong></a>
              %endif
            %elif in_cart:
              <span class="add-to-cart">
                ${_('This course is in your <a href="{cart_link}">cart</a>.').format(cart_link=cart_link)}
              </span>
            % elif is_course_full:
              <span class="register disabled">
                강의 정원초과
              </span>
            % elif invitation_only and not can_enroll:
              <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
            % elif not is_shib_course and not can_enroll:
              <a class="action access-courseware"><strong>수강신청 종료</strong></a>
            %elif can_add_course_to_cart:
              <%
              if user.is_authenticated():
                reg_href = "#"
                reg_element_id = "add_to_cart_post"
              else:
                reg_href = reg_then_add_to_cart_link
                reg_element_id = "reg_then_add_to_cart"
              %>
              <a href="${reg_href}" class="add-to-cart action access-courseware" id="${reg_element_id}">
                ${_("Add {course_name} to Cart ({price})")\
                  .format(course_name=course.display_number_with_default, price=course_price)}
              </a>
              <div id="register_error"></div>
            %else:
              <a href="#" class="register action access-courseware btn_block">수강신청</a>
              <div id="register_error"></div>
            %endif
      </div>
    </section>

    <section class="course-sidebar">
	  <section class="course-summary">
        % if get_course_about_section(course, "video"):
        <a href="#video-modal" class="media" rel="leanModal">
        <div class="hero">
          <img typeof="foaf:Image" class="image-style-none" src="${course_image_url(course)}" width="320" height="211" alt="" />
          <div class="play-intro"></div>
        </div>
        </a>
        %else:
        <div class="media">
        <div class="hero">
          <img typeof="foaf:Image" class="image-style-none" src="${course_image_url(course)}" width="320" height="211" alt="" />
        </div>
        </div>
        % endif
        <div class="course-detail-overview views-fieldset" data-module="views_fieldsets">
            <div class="copy-detail course-detail-info views-fieldset" data-module="views_fieldsets">
                <div class="course-detail-school item">
                        <span class="label">소속기관 </span>${get_course_about_section(course, "university")}
                </div>
                <div class="course-detail-number item">
                        <span class="label">강의교수 </span>강의교수
                </div>
                <div class="course-detail-number item">
                        <span class="label">개강일 </span>${course.start_datetime_text()}
                </div>
                %if course.enrollment_start_datetime_text():
                <div class="course-detail-start item">
                        <span class="label">수강신청 </span>${course.enrollment_start_datetime_text()} ~
                        %if course.enrollment_end_datetime_text():
                            ${course.enrollment_end_datetime_text()}
                        %endif
                </div>
                %endif
                %if course.study_weeks_text():
                <div class="course-detail-start item">
                        <span class="label">학습기간 </span>${course.study_weeks_text()}주
               </div>
                %endif
            </div>
            <div class="copy-detail course-detail-prerequisites views-fieldset" data-module="views_fieldsets">
                <p>${get_course_about_section(course, 'short_description')}</p>
            </div>

                                <div class="view view-course-detail view-id-course_detail view-display-id-footer view-dom-id-c8a6a879378dfc581a3c7d38e1bfc109">
                                        <div class="view-content">
                                                <div>
                                                        <div class="course-detail-register">
        %if user.is_authenticated() and registered:
          %if show_courseware_link:
            <a class="action access-courseware btn_block" href="${course_target}"><strong>수강 듣기</strong></a>
          %endif
        %elif in_cart:
          <span class="add-to-cart">
            ${_('This course is in your <a href="{cart_link}">cart</a>.').format(cart_link=cart_link)}
          </span>
        % elif is_course_full:
          <span class="register disabled">강의 정원초과</span>
        % elif invitation_only and not can_enroll:
          <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
        % elif not is_shib_course and not can_enroll:
          <a class="action access-courseware"><strong>수강신청 종료</strong></a>
        %elif can_add_course_to_cart:
          <%
          if user.is_authenticated():
            reg_href = "#"
            reg_element_id = "add_to_cart_post"
          else:
            reg_href = reg_then_add_to_cart_link
            reg_element_id = "reg_then_add_to_cart"
          %>
          <a href="${reg_href}" class="add-to-cart action access-courseware" id="${reg_element_id}">
            ${_("Add {course_name} to Cart ({price})")\
              .format(course_name=course.display_number_with_default, price=course_price)}
          </a>
          <div id="register_error"></div>
        %else:
          <a href="application" class="register action access-courseware btn_block">
            수강신청 33
          </a>
          <div id="register_error"></div>
        %endif
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>







			<div class="course-detail-social views-fieldset" data-module="views_fieldsets">
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
					<div>

              <%
                site_domain = microsite.get_value('site_domain', settings.SITE_NAME)
                platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)

                tweet_text = _("I just registered for {number} {title} through {account}: {url}").format(
                    number=course.number,
                    title=get_course_about_section(course, 'title'),
                    account=microsite.get_value('course_about_twitter_account', settings.PLATFORM_TWITTER_ACCOUNT),
                    url=u"http://{domain}{path}".format(
                        domain=site_domain,
                        path=reverse('about_course', args=[course.id.to_deprecated_string()])
                    )
                ).replace(u" ", u"+")
                tweet_action = u"http://twitter.com/intent/tweet?text={tweet_text}".format(tweet_text=tweet_text)

                facebook_link = _("{url}").format(
                    url=u"http://{domain}{path}".format(
                        domain=site_domain,
                        path=reverse('about_course', args=[course.id.to_deprecated_string()])
                    )
                ).replace(u" ", u"+")

              %>
			<!--
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.3";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

				<script src="https://apis.google.com/js/platform.js" async defer>
					{lang: 'ko'}
				</script>

              <div class="fb-share-button" data-href="${facebook_link}" data-layout="icon" style=""></div>
            -->
			  <script type="text/javascript">
				function sendSns(sns)
				{
					var url = $(location).attr('href');
					var o;
					var _url = encodeURIComponent(url);
					var _txt = '';
					var _br  = encodeURIComponent('\r\n');

					switch(sns)
					{
						case 'facebook':
							o = {
								method:'popup',
								url:'http://www.facebook.com/sharer/sharer.php?u=' + _url
							};
							break;

						case 'twitter':
							o = {
								method:'popup',
								url:'http://twitter.com/intent/tweet?text=' + _txt + '&url=' + _url
							};
							break;

						case 'google':
							o = {
								method:'popup',
								url:'https://plus.google.com/share?url=' + _url
							};
							break;

						default:
							alert('지원하지 않는 SNS입니다.');
							return false;
					}

					switch(o.method)
					{
						case 'popup':
							console.log('open');

							var _height = '600';
							if(sns == 'twitter'){
								_height = '255'
							}
							if(sns == 'google'){
								_width = '500'
							}
							window.open(o.url,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height='+_height+',width=600'); return false;
							break;

						case 'web2app':
							if(navigator.userAgent.match(/android/i))
							{
								// Android
								setTimeout(function(){ location.href = 'intent://' + o.param + '#Intent;' + o.g_proto + ';end'}, 100);
							}
							else if(navigator.userAgent.match(/(iphone)|(ipod)|(ipad)/i))
							{
								// Apple
								setTimeout(function(){ location.href = o.a_store; }, 200);
								setTimeout(function(){ location.href = o.a_proto + o.param }, 100);
							}
							else
							{
								alert('이 기능은 모바일에서만 사용할 수 있습니다.');
							}
							break;
					}
				}
			  </script>
              <a id="facebookSNS" onclick="javascript:sendSns('facebook'); return false;" class="addthis_button_facebook at300b" title="Facebook" href="#">
                  <span class="at4-icon aticon-facebook" style="background-color: rgb(48, 88, 145);"><span class="at_a11y">${_("Post a Facebook message to say you've registered for this course")}</span></span>
              </a>

              <a id="TweetSNS" onClick="javascript:sendSns('twitter'); return false;" class="addthis_button_twitter at300b" title="Tweet" href="https://twitter.com/intent/tweet?text=TEXT&url=http://14.63.226.59/courses/edX/DemoX/Demo_Course/about">
                  <span class="at4-icon aticon-twitter" style="background-color: rgb(44, 168, 210);">
                      <span class="at_a11y">${_("Tweet that you've registered for this course")}</span>
                  </span>
              </a>

              <!--<div class="g-plus" data-action="share" data-annotation="none" data-height="24" data-href="http://naver.com/"></div>-->

			  <a  class="addthis_button_google_plusone_share at300b" href="#" onclick="javascript:sendSns('google'); return false;" title="Google+">
             <!-- <a class="addthis_button_google_plusone_share at300b" href="#" onClick="javascript:sendSns('google'); return false;" title="Google+">-->
                  <span class="at4-icon aticon-google_plusone_share" style="background-color: rgb(206, 77, 57);">
                      <span class="at_a11y">Share on google_plusone_share</span>
                  </span>
              </a>

					</div>
				</div>
			</div>

		</div>

      </section>

      ## For now, ocw links are the only thing that goes in additional resources
      % if get_course_about_section(course, "ocw_links"):
      <section class="additional-resources">
        <header>
          <h1>${_("Additional Resources")}</h1>
        </header>

        <section>
          ## "MITOpenCourseware" should *not* be translated
          <h2 class="opencourseware">MITOpenCourseware</h2>
             ${get_course_about_section(course, "ocw_links")}
        </section>
      </section>
      %endif
    </section>

  </section>
  </section>

</section>

<script type="text/javascript">
var certification_html = "<h3 class=\"course-how-take-title\">수강 신청 방법</h3>" +
	"<div class=\"course-how-take-block course-how-take-verified\">" +
    "<h3 class=\"copy-lead\">공식 수료증</h3>" +
    "<div class=\"course-how-take-block-content\">" +
    "<p>스타트업을 위한 플랫폼 비즈니스 모델 기획 교육과정에 대해 동영상 강의 및 강의자료, 테스트, 오프라인 강의 및 워크샵에 참가하실 수 있습니다.</p>" +
    "<p class=\"info\">* 위 교육과정을 성공적으로 이수하면, AcademyX 계정 생성 시, 등록한 이메일 주소로  공식수료증을 보내드립니다.</p>" +
    "</div>" +
    "<div class=\"course-how-take-block-footer copy-meta\">" +
    "<p class=\"course-take-audit-cost\">수강료 : 100,000원</p>" +
    "</div>" +
    "</div>" +
    "<div class=\"course-how-take-or\"><span>or</span></div>" +
    "<div class=\"course-how-take-block course-how-take-honor\">" +
    "<h3 class=\"copy-lead\">수강 확인증</h3>" +
    "<div class=\"course-how-take-block-content\">" +
    "<p>스타트업을 위한 플랫폼 비즈니스 모델 기획 교육과정에 대해 동영상 강의 및 강의자료, 테스트를 받을 수 있습니다. </p>" +
    "<p class=\"info\">* 위 교육과정을 성공적으로 마친다면, AcademyX 계정 생성 시, 등록한 이메일 주소로 수강확인증을 보내드립니다.</p>" +
    "</div>" +
    "<div class=\"course-how-take-block-footer copy-meta\">" +
    "<p class=\"course-take-audit-cost\">수강료 : 무료</p>" +
    "</div>" +
    "</div>";

if ($(".certification").length) {
    $(".certification").html(certification_html);
}

</script>

## Need to put this hidden form on the page so that the registration button works.
## Since it's no harm to display a hidden form, we display it with the most permissive conditional
## which is when the student is not registered.
%if active_reg_button or is_shib_course:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <legend class="sr">${_("Enroll")}</legend>
        <input name="course_id" type="hidden" value="${course.id | h}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="${_('enroll')}">
      </div>
    </form>
  </div>
%endif

<%include file="../video_modal.html" />
