<%! 
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<div class="container-x">
			<div class="content-inner">
			<!-- region: Highlighted -->
				<article id="node-958" class="node node-page clearfix" about="/edx-terms-service" typeof="sioc:Item foaf:Document" role="article">
					<div class="node-content">
						<h1 class="field-page-tagline view-mode-full">아카데미X 환불규정</h1>
						<div class="field-page-body view-mode-full">
							<div>
								<table>
									<colgroup>
									<col width="65" />
									<col width="300" />
									<col />
									</colgroup>
									<thead>
									<tr>
									<th>번호</th>
									<th>구분</th>
									<th>반환 금액</th>
									</tr>
									</thead>
									<tbody>
									<tr>
									<td>1</td>
									<td>강의 시작 전</td>
									<td>납부한 수강료 전액</td>
									</tr>
									<tr>
									<td>2</td>
									<td>강의 시작 1주일 이내</td>
									<td>납부한 수강료 75% 환불</td>
									</tr>
									<tr>
									<td>3</td>
									<td>강의 시작 2주일 이내</td>
									<td>납부한 수강료 50% 환불</td>
									</tr>
									<tr>
									<td>4</td>
									<td>강의 시작 2주일 초과</td>
									<td>반환하지 아니함</td>
									</tr>
									<tr>
									<td>5</td>
									<td>비고</td>
									<td>수술, 입원 등 질병, 장기 출장 등 중대한 개인 사유가 있을 경우,<br />증빙서류와 사유서 ACADEMYX.CO 담당자에게 제출 시, 납부한 금액 전액 환불</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</article>
				<!-- Feed icons (RSS, Atom icons etc -->
			</div><!-- /end .content-inner -->
		</div>