<%! 
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />
<div class="container-x">
			<div class="content-inner">
			<!-- region: Highlighted -->
				<article id="node-958" class="node node-page privacy clearfix" about="/edx-terms-service" typeof="sioc:Item foaf:Document" role="article">
					<div class="node-content">
						<h1 class="field-page-tagline view-mode-full">아카데미X 개인정보취급방침</h1>
						<div class="field-page-body view-mode-full">
							<div>
								<p class="pb22">아카데미X은 &lt;정보통신망 이용 촉진등에 관한 법률&gt; 상의 개인정보보호 규정 및 정보통신부가 제정한 &lt;개인정보보호지침&gt;을 준수하고 있습니다.<br /><br />
								&quot;아카데미X&quot;은 개인정보취급방침을 통하여 이용자들이 제공하는 개인정보가 어떠한 용도의 방식으로 이용되고 있으며 <br />개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려 드립니다.<br />
								&quot;아카데미X&quot;의 개인정보취급방침은 정부의 법률 및 지침 변경이나 내부 방침 변경 등으로 인하여 수시로 변경될 수 있고, 이에 따른 개인정보 보호정책의 <br />지속적인 개선을 위하여 필요한 절차를 정하고 있습니다.<br />
								그리고 개인정보 취급방침을 개정하는 경우 아카데미X은 그 변경사항에 대하여 즉시 홈페이지를 통하여 게시하고 버전번호 및 개정일자 등을 부여하여 개정된 사항을 이용자들이 쉽게 알아볼 수 있도록 하고 있습니다.<br /><br />
								아카데미X의 개인정보취급방침은 다음과 같은 내용을 담고 있습니다.<br /><br />
								아카데미X는 회원께서 아카데미X의 개인정보보호방침 또는 이용약관의 내용에 대해 「예, 동의합니다」버튼 또는 「아니오, 동의하지 않습니다」버튼을 <br />
								클릭할 수 있는 절차를 마련하여, 「예, 동의합니다」버튼을 클릭하면 개인정보 수집에 대해 동의한 것으로 봅니다.<br /><br />
								아카데미X(주)는 (이하 '회사'는) 고객님의 개인정보를 중요시하며, &quot;정보통신망 이용촉진 및 정보보호&quot;에 관한 법률을 준수하고 있습니다.<br />
								회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, <br />
								개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br /><br />
								회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br /><br />
								본 방침은 : 2014 년 4월 1일 부터 시행됩니다.</p>
							</div>
							<hr />
							<div>
								<h2>1. 수집하는 개인정보 항목</h2>
								<p>회사는 회원가입, 상담, 서비스 신청 등등을 위해 아래와 같은 개인정보를 수집하고 있습니다.</p>
								<dl>
								<dt>&middot; 수집항목</dt>
								<dd>필수항목 - 이름, 별명, 비밀번호, 이메일</dd>
								</dl>
								<dl>
								<dt>&middot; 개인정보 수집방법</dt>
								<dd>홈페이지(회원가입)</dd>
								</dl>
							</div>
							<hr />
							<div>
								<h2>2. 개인정보의 수집 및 이용목적</h2>
								<h3>1) 수집방법</h3>
								<dl>
								<dt>- 회사는 개인정보를 아래와 같이 수집합니다.</dt>
								<dd>① 정보주체로부터 개인정보를 수집하는 경우에는 정보주체의 동의를 얻어야 하며, 그 수집 목적의 범위에서 이용할 수 있습니다. <br />
								정보주체의 개인정보를 수집하는 경우는 다음과 같습니다.
									<ul>
									<li>1. 온라인 홈페이지의 회원양식을 통한 정보 수집</li>
									<li>2. 개인정보 수집ㆍ활용 동의서(서면)를 통한 정보 수집</li>
									<li>3. 교육 또는 세미나 참석자에 대한 방명록을 통한 정보 수집</li>
									</ul>
								</dd>
								<dd>② 제1항의 규정에 의한 동의는 서면 또는 홈페이지상의 동의란에 대한 표시 등의 방법에 의합니다.</dd>
								<dd>③ 제1항의 규정에도 불구하고 다음에 해당하는 경우 개인정보를 수집할 수 있습니다.
									<ul class="pt0">
									<li>- 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우</li>
									<li>- 법령 등에서 정하는 소관 업무의 수행을 위하여 불가피한 경우</li>
									<li>- 정보주체와의 계약의 체결 및 이행을 위하여 불가피하게 필요한 경우</li>
									<li>- 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 <br />
									   명백히 정보주체 또는 제3자의 급박한  생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우</li>
									<li>- 개인정보처리자의 정당한 이익을 달성하기 위하여 필요한 경우로서 명백하게 정보주체의 권리보다 우선하는 경우. <br />
									   이 경우 개인정보처리자의 정당한 이익과 상당한 관련이 있고 합리적인 범위를 초과하지 아니하는 경우에 한함</li>
									</ul>
								</dd>
								<dd>④ 기본적인 인권에 관한 민감한 개인정보의 수집을 금지합니다. 다만, 정보주체의 자발적ㆍ명시적 동의 또는 수집 대상 개인정보가 명시되어 있는 법률에 근거한 경우에는 수집을 할 수 있습니다.</dd>
								</dl>
								<h3>2) 이용목적</h3>
								<p>- 회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.</p>
								<dl>
								<dt>&middot; 회원 관리</dt>
								<dd class="none">공식수료증 서비스 이용에 따른 본인 확인</dd>
								</dl>
								<dl>
								<dt>&middot; 마케팅 및 광고에 활용</dt>
								<dd class="none">신규 서비스(제품) 개발 및 특화 , 이벤트 등 광고성 정보 전달 , 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, <br />접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계</dd>
								</dl>
							</div>
							<hr />
							<div>
								<h2>3. 개인정보의 보유 및 이용기간</h2>
								<p>&middot; 보존 근거 : 「학점인정등에관한법률시행령」「학점인정등에관한법률시행규칙」「학점은행제 운영규정」<br />
								&middot; 보존 기간 : [출석전표,성적전표=영구] [과제물,시험답안지=2년보존]<br/>
								&middot; 보존 항목 : 이름, 성적관련 데이터(출석 로그 및 시험 등에 대한 채점 결과 등), 출석관련 데이터(학습기록, 접속IP 등)</p>
								<p>그리고 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.</p>
								<p>
								계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)<br />
								대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)<br />
								소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)
								</p>
								<dl>
								<dt>&middot; 정보주체의 수집이용 거부권 및 불이익 고지</dt>
								<dd class="none">주체는 회사가 수집하는 개인정보의 항목 및 수집 방법에 동의를 거부할 수 있으며, 거부 시 회원에게 제공되는 서비스 이용의 일부가 제한 될 수 있습니다.<br />
								[관련법령] 개인정보 보호법 제 15조 2항</dd>
								</dl>
							</div>
							<hr />
							<div>
								<h2>4. 개인정보의 파기절차 및 방법</h2>
								<p>회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.</p>
								<dl>
								<dt>&middot; 파기절차</dt>
								<dd class="none">회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 바로 분쇄 처리)<br />내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다.<br />별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.</dd>
								</dl>
								<dl>
								<dt>&middot; 파기방법</dt>
								<dd class="none">- 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br />
								- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</dd>
								</dl>
							</div>
							<hr />
							<div>
								<h2>5. 개인정보의 보호조치</h2>
								<p>회사는 학습자님의 개인정보를 보호하기 위해 기술적 대책과 관리적 대책을 마련하고 있으며, 이를 적용하고 있습니다.</p>
								<dl>
								<dt>- 기술적 대책</dt>
								<dd class="none">회사는 학습자님의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안정성 확보를 위해 다음과 같은 기술적 대책을 강구하고 있습니다.</dd>
								<dd class="none">
									<ul class="pb0">
									<li>① 학습자님의 개인정보는 비밀번호에 의해 보호되며 파일 및 전송데이터를 암호화하거나 파일 잠금기능을 사용하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다.</li>
									<li>② 회사는 백신프로그램을 이용하여 컴퓨터 바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다. 백신프로그램은 주기적으로 업데이트되며 갑작스런 바이러스가 출현할 경우 백신을 통해 차단함으로써 개인정보가 침해되는 것을 방지하고 있습니다.</li>
									<li>③ 회사는 암호알고리즘을 이용하여 네트워크 상의 개인정보를 안전하게 전송할 수 있는 보안장치(SSL)를 학습자 주요 정보에 이용하고 있습니다.</li>
									<li>④ 해킹 등 외부침입에 대비하여 각 서버마다 방화벽을 이용하여 보안에 만전을 기하고 있습니다.</li>
									</ul>
								</dd>
								</dl>
								<dl>
								<dt>- 관리적 대책</dt>
								<dd>
									① 회사는 학습자님의 개인정보에 대한 접근권한을 최소한의 인원으로 제한하고 있습니다. 그 최소한의 인원에 해당하는 자는 다음과 같습니다.
									<ul class="p0">
									<li>&middot; 학습자 학습현황(성적, 학습현황 등) 보고를 위한 학사행정 담당자</li>
									<li>&middot; 개인정보 위탁업체를 상대로 한 마케팅 담당자</li>
									<li>&middot; 개인정보관리책임자 및 담당자 등 개인정보관리업무를 수행하는 자</li>
									<li>&middot; 기타 업무상 개인정보의 취급이 불가피한 자</li>
									</ul>
								</dd>
								<dd>② 회사는 학습자님의 개인정보에 대한 접근 및 관리에 필요한 절차 등을 마련하여 소속직원으로 하여금 이를 숙지하고 준수하도록 하고 있으며, 개인정보를 취급하는 직원을 대상으로 새로운 보안 기술 습득 및 개인정보보호 의무 등에 관한 정기적인 사내 교육 (매년 4월 1일) 또는 외부 위탁교육을 실시하고 있습니다.</dd>
								<dd>③ 회사는 컴퓨터를 이용하여 학습자의 개인정보에 대한 접근권한을 가진 담당자를 지정하여 식별부호(ID) 및 비밀번호를 부여하고, 해당 비밀번호를 정기적으로 갱신하고 있습니다.</dd>
								<dd>④ 회사는 신규직원 채용시 정보보호서약서 또는 개인정보보호서약서에 서명함으로 직원에 의한 정보유출을 사전에 방지하고 개인정보취급방침에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 내부절차를 마련하여 지속적으로 시행하고 있습니다.</dd>
								</dl>
							</div>
							<hr />
							<div>
								<h2>6. 개인정보 제공</h2>
								<p>회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</p>
								<ul>
								<li>- 이용자들이 사전에 동의한 경우</li>
								<li>- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</li>
								</ul>
							</div>
							<hr />
							<div>
								<h2>7. 수집한 개인정보의 위탁</h2>
								<p>회사는 고객님의 동의없이 고객님의 정보를 외부 업체에 위탁하지 않습니다. 향후 그러한 필요가 생길 경우, <br />위탁 대상자와 위탁 업무 내용에 대해 고객님에게 통지하고 필요한 경우 사전 동의를 받도록 하겠습니다.</p>
								<dl>
								<dt>&middot; 개인정보수탁 거부권 및 불이익 고지</dt>
								<dd class="none">정보주체는 회사가 서비스 제공을 목적으로 서비스 제공업체에 제공하는 개인정보 수탁 항목 및 수탁 방법에 동의를 거부할 수 있으며,<br />거부 시 회원에게 제공되는 서비스 이용의 일부가 제한 될 수 있습니다. 단, 개인정보의 수탁은 서비스 단위로 제공됩니다.</dd>
								</dl>
							</div>
							<hr />
							<div>
								<h2>8. 이용자 및 법정대리인의 권리와 그 행사방법</h2>
								<p>이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며  가입해지를 요청할 수도 있습니다.</p>
								<p>이용자 혹은 만 14세 미만 아동의 개인정보 조회, 수정을 위해서는 &apos;개인정보변경&apos;(또는 &apos;회원정보수정&apos; 등)을 가입해지(동의철회)를 위해서는 <br />&quot;회원탈퇴&quot;를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다. <br />혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체없이 조치하겠습니다.</p>
								<p>귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. <br />또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이 이루어지도록 하겠습니다.</p>
								<dl>
								<dt>&middot; 개인정보의 열람 및 정정을 제한할 수 있는 경우</dt>
								<dd class="none">- 본인 또는 제3자의 생명, 신체, 재산 또는 권익을 현저하게 해할 우려가 있는 경우<br />- 당해 서비스제공자의 업무에 현저한 지장을 미칠 우려가 있는 경우<br />- 법령에 위반하는 경우 등</dd>
								</dl>
							</div>
							<hr />
							<div>
								<h2>9. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</h2>
								<p>회사는 귀하의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을 운용합니다. <br />쿠키란 아카데미X의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. <br />회사은(는) 다음과 같은 목적을 위해 쿠키를 사용합니다.</p>
								<dl>
								<dt>&middot; 쿠키 등 사용 목적</dt>
								<dd class="none">회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공 귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. </dd>
								</dl>
								<dl>
								<dt>&middot; 쿠키 설정 거부 방법</dt>
								<dd>예: 쿠키 설정을 거부하는 방법으로는 회원님이 사용하시는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나<br />쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다. <br />설정방법 예(인터넷 익스플로어의 경우) : 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보<br />단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.</dd>
								</dl>
							</div>
							<hr />
							<div>
								<h2>10. 정보 서비스 발송</h2>
								<p class="pb22">회사는 회원의 명시적인 수신거부 의사에 반하여 정보 서비스를 메일등으로 전송하지 않습니다.<br />메일을 통한 정보 서비스 수신을 원치 않는다면 홈페이지 개인정보관리 페이지에서 수신여부를 ‘동의하지 않음’으로 설정할 수 있습니다.</p>
							</div>
							<hr />
							<div>
								<h2>11. 개인정보에 관한 민원서비스</h2>
								<p>회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.</p>
								<dl>
								<dt>&middot; 고객서비스담당 부서 : 아카데미X 고객지원부</dt>
								<dd>전화번호 : 070)8202-1988</dd>
								<dd>이메일 : support@academy.co</dd>
								</dl>
								<dl>
								<dt>&middot; 개인정보관리책임자 성명 황병선</dt>
								<dd>전화번호 : 070)8202-1988</dd>
								<dd>이메일 : michael@academy.co</dd>
								</dl>
								<p>귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을<br />개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.<br />기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
								<ul>
								<li>1. 개인정보침해신고센터 (privacy.kisa.or.kr/)<br />전화상담 : 국번없이 1336, ARS 2번<br />서울시 송파구 중대로 135 IT벤처타운 한국정보보호진흥원 개인정보침해신고센터</li>
								<li>2. 정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)</li>
								<li>3. 경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)</li>
								</ul>
								<p>
								※ 개인정보취급방침 전자적 표시<br />
								http://www.academyx.co/policy/eula.xml<br />
								http://www.academyx.co/policy/personalpolicy.xml</p>
							</div>
						</div>
					</div>
				</article>
				<!-- Feed icons (RSS, Atom icons etc -->
			</div><!-- /end .content-inner -->
		</div>
