<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dt>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아카데미엑스 메일 코딩</title>
</head>
<body>
    
    <!--이 주석 안의 내용만 필요합니다-->
    <table style="width:600px" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr valign="top">
                <td style="line-height:0;font-size:0;padding:0" colspan="2">                   
                    <img src="http://14.63.226.59/static/themes/default/images/email/email_top.gif" border="0" alt="아시아 최고의 기업가 정신 교육을 무료로">
                </td>
            </tr>
            <tr>
                <td valign="middle" style="padding:20px" colspan="2">
                    안녕하세요.<br/>
                    아카데미X 입니다.<br/>
                    [ 홍길동 ] 님의 회원가입을 진심으로 환영합니다.<br/><br/>
                    아래 버튼을 누르면 아카데미X 회원가입 절차가 완료됩니다.<br/><br/>
                   <a href="http://academyx.co/" target="_blank"><u><b style="font-size:13px;color:#333333">링크입니다.</b></u></a>
                </td>
            </tr>
            <tr>
                <td style="background-color:#2e2e2e; line-height:0; font-size:0; padding-left:16px;" height="48" bgcolor="#2e2e2e">
                   <a href="http://academyx.co/" target="_blank"><img src="http://14.63.226.59/static/themes/default/images/email/email_logo.gif" border="0" alt="아카데미엑스"></a>
                </td>
                <td align="right" style="background-color:#2e2e2e; padding-right:0; padding-top:0;" height="48" bgcolor="#2e2e2e">
                    <img src="http://14.63.226.59/static/themes/default/images/email/email_logo_2.gif" border="0" alt="Academyx.co">
                </td>
            </tr>
        </tbody>        
    </table>
    <!--//이 주석 안의 내용만 필요합니다-->
    
</body>
</html>