<%!
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html"/>

<%namespace name='static' file='../static_content.html'/>

<!-- region: Secondary Content -->

	<div class="region-column-wrapper">
		<div class="region-columns region-container container">
			<div class="region-container-inner">
				<div id="columns" class="columns clearfix">
					<div id="content-column" class="content-column" role="main" aria-label="Content">
						<div class="content-inner">
						<!-- region: Highlighted -->
							<section id="main-content" class="partner">
								<header id="main-content-header" class="clearfix"></header>
					  		<!-- region: Main Content -->
								<div id="content" class="region">
									<div class="region-container-inner">

										<div id="block-views-members-standard" class="block block-views no-title">
											<div class="view view-members view-display-members-full">
												<div class="view-header">
													<a name="members" id="members"></a>
													<p>
													% if app_id == "IdeaCloud":
														<img style="width:90%" typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/partners/idea_cloud_partners.png" alt="아이디어클라우드" title="아이디어클라우드" />
													% else:
														"!!!!!!!!!!!!!!!!!!!" app id 는
														${app_id} 입니다 "!!!!!!!!!!!!!!!!!!!"
													% endif
													</p>
													<!--
													<h2 class="members-header"><span>교육 파트너</span></h2>
													<p class="copy-detail">교육 파트너는 정부산하 창업 보육 기관, 일반 기업의 창업/교육 프로그램 운영 부서, 대학교 창업보육센터 등으로<br />아카데미X가 구축한 교육 콘텐츠와 서비스를 바탕으로 창업가나<br />사내 기업가 정신 교육이 필요한 이에게 교육 서비스를 제공하는 곳입니다.</p>
													-->
												</div>
											</div>
										</div>
									</div>
									<div id="block-system-main" class="block block-system no-title" >
										<header class="search-header">
											<h2 class="hide-phone" style="width:700px;">${app_id} 교육과정 <span class="result-count">${len(courses)}</span>개</h2>
										</header>
										<section class="search-results" aria-label="Search Results">
											<div class="filtered">
												%for course in courses:
												<li class="courses-listing-item">
												  <%include file="../course.html" args="course=course" />
												</li>
												%endfor
											</div>
										</section>
									</div>
								</div>
							</section><!-- /end #main-content -->
							<!-- region: Content Aside -->
					  </div><!-- /end .content-inner -->
				</div><!-- /end #content-column -->

				<!-- regions: Sidebar first and Sidebar second -->

			  </div><!-- /end #columns -->
			</div><!-- /end .region-container-inner -->
		</div><!-- /end #region-columns -->
  </div><!-- /end #region-column-wrapper -->

  <!-- region: Tertiary Content -->

  <!-- region: Tertiary Content -->

  <!-- Secondary Navigation elements -->
