<%! 
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />
<section class="partners_info">
	<div class="partner_text">
	<h3 class="partner_name">Meet Advisor</h3>
	<p>디앤엘컴퍼니는 Meet Advisor(www.meetadvisor.co.kr)라는 서비스를 통해 변호사, 회계사, 변리사, 노무사 등 
각 분야의 전문가들이 보유한 전문지식과 경험을 동영상 형태의 실무교육 컨텐츠로 제작하여 공급합니다.

동영상 실무교육 컨텐츠를 통해 기업은 전문가들이 보유한 전문지식과 노하우를 배우고, 
더 나아가 Meet Advisor를 통해 각 분야별로 최고의 전문성을 갖춘 검증된 Advisor를 만날 기회를 가질 수 있습니다.  
또한, 전문가들은 동영상 실무교육 컨텐츠를 통해 자신의 전문성을 홍보하고, 전문가 서비스에 대한 수요개발을 통해 
직접적인 비즈니스 기회를 창출할 수 있습니다.
 
Meet Advisor는 실무교육 컨텐츠를 매개로 전문가와 기업이 자유롭게 만나고 교류하는 전문가 시장의 플랫폼을 
지향합니다.
</p>
	</div>
	<h2 class="partner_logo"><img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/partners/meetadvisor_partners.png" alt="Meet Advisor" /></h2>
</section>

<section class="content_sec">
<div class="view view-course view-id-course view-display-id-school card-listing product-course-list">
											<div class="view-header">
												<h3>PAG&파트너스에서 제공하는 교육과정</h3>
											</div>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first course-card verified ">
													<a href="/course/inclusive-leadership-training-becoming-catalystx-ilx1" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course01.jpg" alt="Inclusive Leadership Training: Becoming a Successful Leader"/></div>
														<div class="banner">공식 수료증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
												<div class="views-row views-row-2 views-row-even course-card verified ">
													<a href="/course/body-matters-mcgillx-body101x" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course02.jpg" alt="The Body Matters"/></div>
														<div class="banner">공식 수료증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
												<div class="views-row views-row-3 views-row-odd course-card verified ">
													<a href="/course/inclusive-leadership-training-becoming-catalystx-ilx1" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course03.jpg" alt="Inclusive Leadership Training: Becoming a Successful Leader"/></div>
														<div class="banner">수강 확인증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
											</div>
										</div>
</section>

