<%! 
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />
<section class="partners_info">
	<div class="partner_text">
	<h3 class="partner_name">ROA</h3>
	<p>로아컨설팅은 2003년 설립이래, 국내 통신/단말 제조사 및 대기업을 대상으로 IT전략 컨설팅 업무를 수행해 온 
국내 최고의 컨설팅 업체입니다. 2012년 부터는 자체적으로 개발한 'Business Model Game' 방법론과 툴킷을 
활용하여 국내 벤처/스타트업 및 대기업 신규 사업부문 임직원 대상의 체계적 교육프로그램을 운영 중입니다. 
최근에는 린 비즈니스 모델 방법론으로 업그레이드하여 스타트업의 사업모델 검증, 초기투자, 액셀러레이션 사업을 활발히 전개 중입니다. 아카데미X를 통해 국내 최고의 스타트업 및 창업 교육 프로그램을 만나보세요! 
</p>
	</div>
	<h2 class="partner_logo"><img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/partners/roa_partners.png" alt="ROA" /></h2>
</section>

<section class="content_sec">
<div class="view view-course view-id-course view-display-id-school card-listing product-course-list">
											<div class="view-header">
												<h3>PAG&파트너스에서 제공하는 교육과정</h3>
											</div>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first course-card verified ">
													<a href="/course/inclusive-leadership-training-becoming-catalystx-ilx1" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course01.jpg" alt="Inclusive Leadership Training: Becoming a Successful Leader"/></div>
														<div class="banner">공식 수료증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
												<div class="views-row views-row-2 views-row-even course-card verified ">
													<a href="/course/body-matters-mcgillx-body101x" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course02.jpg" alt="The Body Matters"/></div>
														<div class="banner">공식 수료증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
												<div class="views-row views-row-3 views-row-odd course-card verified ">
													<a href="/course/inclusive-leadership-training-becoming-catalystx-ilx1" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course03.jpg" alt="Inclusive Leadership Training: Becoming a Successful Leader"/></div>
														<div class="banner">수강 확인증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
											</div>
										</div>
</section>

