<%! 
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<div class="partners_info">
<h3>PAG&파트너스</h3>
<p>PAG&파트너스는 비즈니즈모델, ICT융합, 서비스기획, 마케킹,  UX, 대정부사업 등 각 분야별 국내 최고의 전문가들이 만든 회사이며, 다년간의 실무 및 컨설팅 경험을 바탕으로 스타트업과 벤처에게 필요한 실질적인 교육 콘텐츠를 만들고 이를 기반으로 교육 콘텐츠 플랫폼 사업을 진행하고 있습니다.</p>
<p>국내 벤처 생태계 활성화를 위한 핵심 전략으로 PAG&파트너스는 스타트업과 중견 벤처간의 M&A 활성화를 진행하고 있으며, 이를 위해 M&A를 통한 미래 신규사업 진출전략을 컨설팅을 함과 동시에 벤처의 주요 임원직과의 지속적으로 미래 전략을 상담하는 프로그램을 운영하고 있습니다.</p>
</div>
<h2 class="partners_logo"><img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/partners/pag_partners.png" alt="PAG&파트너스" /></h2>

<section>
<div class="view view-course view-id-course view-display-id-school card-listing product-course-list">
											<div class="view-header">
												<h3>PAG&파트너스에서 제공하는 교육과정</h3>
											</div>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first course-card verified ">
													<a href="/course/inclusive-leadership-training-becoming-catalystx-ilx1" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course01.jpg" alt="Inclusive Leadership Training: Becoming a Successful Leader"/></div>
														<div class="banner">공식 수료증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
												<div class="views-row views-row-2 views-row-even course-card verified ">
													<a href="/course/body-matters-mcgillx-body101x" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course02.jpg" alt="The Body Matters"/></div>
														<div class="banner">공식 수료증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
												<div class="views-row views-row-3 views-row-odd course-card verified ">
													<a href="/course/inclusive-leadership-training-becoming-catalystx-ilx1" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course03.jpg" alt="Inclusive Leadership Training: Becoming a Successful Leader"/></div>
														<div class="banner">수강 확인증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
											</div>
										</div>
</section>

<!-- region: Banner -->
	<div class="region region-banner">
		<div class="region-inner clearfix">
			<div class="region-container container">
				<div class="region-container-inner">
					<div id="block-views-school-banner" class="block block-views no-title" >  
						<div class="view view-school view-id-school view-display-id-banner view-display-schools view-display-schools-banner view-dom-id-4385706d9bc850295fd3901671edcd2e">
							<div class="view-content">
								<div><img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/pag_banner920x195.jpg" width="960" height="195" alt="" /></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>  
  <!-- region: Spotlight -->

  <!-- region: Secondary Content -->
	<div class="region-column-wrapper">
		<div class="region-columns region-container">
			<div class="region-container-inner">
			  <div id="columns" class="columns clearfix">
				<div id="content-column" class="content-column" role="main" aria-label="Content">
					<div class="content-inner">
					<!-- region: Highlighted -->
						<section id="main-content">
					  <!-- region: Main Content -->
							<div id="content" class="region">
								<div class="region-container-inner">
									<div id="block-system-main" class="block block-system no-title" >  
										<article id="node-8431" class="node node-school article clearfix" about="/school/microsoft" typeof="sioc:Item foaf:Document" role="article">
											<h1 id="page-title">PAG&파트너스</h1>
											<div class="node-content">
												<div class="field-school-description view-mode-full">
													<p>PAG&파트너스는 첫째 스타트업과 벤처를 위해 투자유치와 사업 개발을 위한 플랫폼을 구축하고 있습니다. 둘째 스타트업이나 중견기업의 신규 사업/상품 기획을 위한 창업/비즈니스모델 교육 콘텐츠 플랫폼을 만들고 있습니다. 셋째 벤처 생태계의 지속 가능성을 위해서 소속 자문가의 기업 네트워크를 통해 스타트업과 벤처간의 M&A를 자문하고 이를 위한 플랫폼도 진행 중입니다.<br /><br />PAG&파트너스는 첫째 스타트업과 벤처를 위해 투자유치와 사업 개발을 위한 플랫폼을 구축하고 있습니다. 둘째 스타트업이나 중견기업의 신규 사업/상품 기획을 위한 창업/비즈니스모델 교육 콘텐츠 플랫폼을 만들고 있습니다.</p>
												</div>
												<span property="dc:title" content="Microsoft" class="rdf-meta element-hidden"></span>
											</div>
											<span property="dc:title" content="Microsoft" class="rdf-meta element-hidden"></span>
										</article>
									</div>
									<section id="block-views-course-school" class="block block-views block-courses-school" >
										<div class="view view-course view-id-course view-display-id-school card-listing product-course-list">
											<div class="view-header">
												<h3>PAG&파트너스에서 제공하는 교육과정</h3>
											</div>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first course-card verified ">
													<a href="/course/inclusive-leadership-training-becoming-catalystx-ilx1" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course01.jpg" alt="Inclusive Leadership Training: Becoming a Successful Leader"/></div>
														<div class="banner">공식 수료증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
												<div class="views-row views-row-2 views-row-even course-card verified ">
													<a href="/course/body-matters-mcgillx-body101x" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course02.jpg" alt="The Body Matters"/></div>
														<div class="banner">공식 수료증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
												<div class="views-row views-row-3 views-row-odd course-card verified ">
													<a href="/course/inclusive-leadership-training-becoming-catalystx-ilx1" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course03.jpg" alt="Inclusive Leadership Training: Becoming a Successful Leader"/></div>
														<div class="banner">수강 확인증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>

					  <!-- Feed icons (RSS, Atom icons etc -->

					</section><!-- /end #main-content -->

					<!-- region: Content Aside -->
					
				  </div><!-- /end .content-inner -->
				</div><!-- /end #content-column -->

				<!-- regions: Sidebar first and Sidebar second -->
						
			  </div><!-- /end #columns -->
			</div><!-- /end .region-container-inner -->
		</div><!-- /end #region-columns -->
  </div><!-- /end #region-column-wrapper -->

  <!-- region: Tertiary Content -->