<%! 
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />
<section class="partners_info">
	<div class="partner_text">
	<h3 class="partner_name">PAG&파트너스</h3>
	<p>PAG&파트너스는 비즈니즈모델, ICT융합, 서비스기획, 마케킹,  UX, 대정부사업 등 각 분야별 국내 최고의 전문가들이 만든 회사이며, 다년간의 실무 및 컨설팅 경험을 바탕으로 스타트업과 벤처에게 필요한 실질적인 교육 콘텐츠를 만들고 이를 기반으로 교육 콘텐츠 플랫폼 사업을 진행하고 있습니다.</p>
	<p>국내 벤처 생태계 활성화를 위한 핵심 전략으로 PAG&파트너스는 스타트업과 중견 벤처간의 M&A 활성화를 진행하고 있으며, 이를 위해 M&A를 통한 미래 신규사업 진출전략을 컨설팅을 함과 동시에 벤처의 주요 임원직과의 지속적으로 미래 전략을 상담하는 프로그램을 운영하고 있습니다.</p>
	</div>
	<h2 class="partner_logo"><img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/partners/pag_partners.png" alt="PAG&파트너스" /></h2>
</section>

<section class="content_sec">
<div class="view view-course view-id-course view-display-id-school card-listing product-course-list">
											<div class="view-header">
												<h3>PAG&파트너스에서 제공하는 교육과정</h3>
											</div>
											<div class="view-content">
												<div class="views-row views-row-1 views-row-odd views-row-first course-card verified ">
													<a href="/course/inclusive-leadership-training-becoming-catalystx-ilx1" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course01.jpg" alt="Inclusive Leadership Training: Becoming a Successful Leader"/></div>
														<div class="banner">공식 수료증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
												<div class="views-row views-row-2 views-row-even course-card verified ">
													<a href="/course/body-matters-mcgillx-body101x" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course02.jpg" alt="The Body Matters"/></div>
														<div class="banner">공식 수료증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
												<div class="views-row views-row-3 views-row-odd course-card verified ">
													<a href="/course/inclusive-leadership-training-becoming-catalystx-ilx1" class="course-link">
														<div class="img-wrapper"><img src="/static/themes/default/images/img_course03.jpg" alt="Inclusive Leadership Training: Becoming a Successful Leader"/></div>
														<div class="banner">수강 확인증</div>
													</a>
													<div class="label">김진영 대표</div>
													<div class="course-code">ROA Consultring</div>
													<div class="title"><p>스타트업 기업을 위한 비지니스 전략 개요</p></div>
													<div class="availability">개강예정</div>
													<div class="date">2015년 2월 13일</div>
												</div>
											</div>
										</div>
</section>

