<%! 
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<section class="container-x">
	<section class="member-professor">

		<em>황병선 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor03_bg.png" alt="황병선 대표 교수" title="황병선 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>플랫폼 비즈니스 모델 기획</li>
				<li>초기 투자 유치를 위한 제안서 작성</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>아카데미엑스 대표</li>
				<li>KAIST 대우교수</li>
				<li>전) 청강대 전임교수</li>
				<li>전) LG전자, LG CNS</li>
				<li>플랫폼, 생태계, BM</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>김진영 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor04_bg.png" alt="김진영 대표 교수" title="김진영 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>비즈니스 모델과 고객가치명제 디자인</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>로아컨설팅 대표</li>
				<li>아카데미엑스 CEO</li>
				<li>전) 소프트 뱅크 컨설팅</li>
				<li>전) 소프트뱅크미디어</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>명승은 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor01_bg.png" alt="명승은 대표 교수" title="명승은 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>스타트업의 언론 홍보</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>벤처스퀘어 대표</li>
				<li>MBC 내일ON 진행자</li>
				<li>다수 스타트업 창업자</li>
				<li>링블로그-그만의 아이디어</li>
				<li>미디어, PR&마케팅 전문</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>박민우 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor05_bg.png" alt="박민우 대표 교수" title="박민우 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>O2O 트렌드로 배우는 서비스 전략</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>현 유니비스타 대표</li>
				<li>아카데미엑스 CTO</li>
				<li>전) 이모션 CTO</li>
				<li>청강대 초빙교수</li>
				<li>현대정보기술</li>
				</ul>
		</div>
	</section><!-- //member-professor-->
	<section class="member-professor">

		<em>백상훈 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor06_bg.png" alt="백상훈 대표 교수" title="백상훈 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>스토리텔링기반 창업 사업계획서 작성</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>로아컨설팅 이사</li>
				<li>전) <small>(주)</small>CJ 경영전략실</li>
				<li>전) 엑센추어 컨설턴트</li>
				<li>전) 벤처포트 컨설턴트</li>
				<li>콘텐츠, BM, 융합</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>선성관 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor07_bg.png" alt="선성관 대표 교수" title="선성관 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>스타트업을 위한 세무/법무/회계 기초</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>디앤엘컴패니 대표</li>
				<li>현) 웅지세무대학교 교수</li>
				<li>전) 딜로이트</li>
				<li>전) 세무사/회계사</li>
				<li>세무, 회계</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>김성원 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor08_bg.png" alt="김성원 대표 교수" title="김성원 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>스마트 미디어 분야의 서비스 모델 개발</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>M&M네트웍스 대표</li>
				<li>디지털융합협동조합 이사장</li>
				<li>전) 현대아이티 본부장</li>
				<li>전) 한국통신데이타 이사</li>
				<li>DOHC, IoT, 융합 전문</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>고영혁 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor09_bg.png" alt="고영혁 대표 교수" title="고영혁 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>스타트업이 꼭 알아야 할 HR 스킬 3가지</li>
				<li>데이터 분석 기반 Growth Hacking</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>고텍터 대표</li>
				<li>홍합밸리 파운더</li>
				<li>전) eBay Gmarket</li>
				<li>전) NHN, NHN게임즈</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>김태현 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor10_bg.png" alt="김태현 대표 교수" title="김태현 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>소셜미디어 중심의 스타트업 마케팅</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>벤처스퀘어 이사</li>
				<li>버섯돌이 블로그</li>
				<li>전) 티그레이프</li>
				<li>전) 유저스토리랩</li>
				<li>소셜미디어 기획,마케팅</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>김석기 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor11_bg.png" alt="김석기 대표 교수" title="김석기 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>콘텐츠 사업에서의 수익 모델 기획</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>Mophon 대표</li>
				<li>전) 중앙일보 이사</li>
				<li>전) 로아컨설팅 이사</li>
				<li>전) 삼성전자, DAUM</li>
				<li>IoT, 콘텐츠, 서비스 기획</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>강재민 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor02_bg.png" alt="강재민 대표 교수" title="강재민 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>아이디어 창출과 제품 기획</li>
				<li>크라우드펀딩 성공하기</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>로이컨설팅 대표</li>
				<li>전) 호스트웨어 본부장</li>
				<li>전) 푸처스트림스</li>
				<li>B2B, 그로스해킹, 마케팅</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>심규병 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor12_bg.png" alt="심규병 대표 교수" title="심규병 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li>스타트업을 위한 세일즈 A To Z</li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>병맛파트너스 대표</li>
				<li>전) 호스트웨어 본부장</li>
				<li>전) 퓨처스트림스</li>
				<li>B2B, 그로스해킹, 마케팅</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>정지훈 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor13_bg.png" alt="정지훈 대표 교수" title="정지훈 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li></li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
				<li>경희사이버대 교수</li>
					<li>KAIST 겸직교수</li>
					<li>IT 전문가, 미래학자</li>
					<li>다수 스타트업 창업자</li>
					<li>미래 융합, 의공학 박사</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="member-professor">

		<em>최형욱 대표 교수</em>
		<div class="professor-images">
			<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor14_bg.png" alt="최형욱 대표 교수" title="최형욱 대표 교수" />
		</div>
		<div class="professor">
			<div class="course-list">
				<ul>
				<li></li>
				</ul>
			</div>
			<p>삼성전자,  LG CNS에서 게임,  IPTV,  안드로이드 프로젝트에 참여.<br />LG전자에서는 게임전략, 전사 서비스 플폼 전략 등을 거쳐<br />직접 소셜, 클라우드 서비스 개발에 참여.<br />현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</p>
		</div>
		<div class="professor-history">
				<ul>
					<li>경희사이버대 교수</li>
					<li>KAIST 겸직교수</li>
					<li>IT 전문가, 미래학자</li>
					<li>다수 스타트업 창업자</li>
					<li>미래 융합, 의공학 박사</li>
				</ul>
		</div>
	</section><!-- //member-professor-->

	<section class="course-board">
		<header>
			<h2 class="element-invisible">강의 한줄평</h2>
			<nav>
				<ul>
				<li><a href="professor_sub1.html">강의 한줄평</a></li>
				<li class="on"><a href="professor_sub2.html">Q&A게시판</a></li>
				</ul>
			</nav>
		</header>
		<section class="board-write">
			<div>
				<form>
					<div class="header">
						<span class="x-sel">
							<select>
							<option>교육과정 선택</option>
							<option></option>
							<option></option>
							</select>
						</span>
						<div class="facebook" id="field-honorcode">
							<span class="chk_area"><input id="honorcode-yes" type="checkbox" name="honor_code" value="true"><span></span></span>
							<label for="honorcode-yes" class="after-none">페이스북에 공유하기</label>
						</div>
					</div>
					<div class="text">
						<textarea class="wmd-input" id="wmd-input-reply-body-550f7dbb2a472dc9930025c3" placeholder="내용을 입력해주세요."></textarea>
						<input class="check" type="button" data-checking="Checking..." value="등록하기">
					</div>
				</form>
			</div>
		</section>

		<section class="board-list">
			<div class="list-select">
				<span class="x-sel">
					<select>
					<option>교육과정 전체</option>
					<option></option>
					<option></option>
					</select>
				</span>
				<input class="check" type="button" data-checking="Checking..." value="내가 작성한 글 보기">
			</div>
			<div class="discussion-response complete">
				<header>
					<div class="response-header-content">
						<h3>[교육과정명] 스타트업을 위한 플랫폼 비즈니스 모델기획<span>완료</span></h3>
						<p class="posted-details">
							<span class="timeago" title="2015-03-23T02:43:07Z">1년전</span> 에 포스팅 됨 by
							<a href="/courses/McGillX/Body101x/1T2015/discussion/forum/users/5929013" class="username">neuroxjx77</a>
						</p>
					</div>
					<div class="response-header-actions">
						<div class="actions-button">
							<ul>
							<li class="actions-item">
								<a href="javascript:void(0)" class="action-list-item action-edit" role="button">수정</a>
							</li>
						
							<li class="actions-item">
								<a href="javascript:void(0)" class="action-list-item action-delete" role="button">삭제</a>
							</li>
							</ul>
						</div>
					</div>
				</header>
				<div class="response-body"><p>나는 모듈의 시험에 MCB80x으로 통과 점수를 득점 나는 아직도 내가 버는 것 믿게 된 인증을받지 못했습니다. 일이 무엇인지 알려주세요?</p></div>
				<div class="answer">
					<p>의견에 대한 답변입니다. 이렇게 이렇게 되었습니다. 감사합니다.<br />의견에 대한 답변입니다. 이렇게 이렇게 되었습니다. 감사합니다.</p>
					<p class="posted-details">
					<span class="timeago" title="2015-02-23T22:05:21Z">1년전</span>에 포스팅 됨 by 
					<a href="/courses/SMES/PSYCH101x/1T2015/discussion/forum/users/5385102" class="username">황병선</a>
					</p>
					<div class="post-labels">
					  <span class="post-label-reported is-hidden"><i class="icon fa fa-flag"></i>Reported</span>
					</div>
				</div>
			</div>

			<div class="discussion-response">
				<header>
					<div class="response-header-content">
						<h3>[교육과정명] 스타트업을 위한 플랫폼 비즈니스 모델기획<span>미완료</span></h3>
						<p class="posted-details">
							<span class="timeago" title="2015-03-23T02:43:07Z">1년전</span> 에 포스팅 됨 by
							<a href="/courses/McGillX/Body101x/1T2015/discussion/forum/users/5929013" class="username">neuroxjx77</a>
						</p>
					</div>
					<div class="response-header-actions">
						<div class="actions-button">
							<ul>
							<li class="actions-item">
								<a href="javascript:void(0)" class="action-list-item action-edit" role="button">수정</a>
							</li>
						
							<li class="actions-item">
								<a href="javascript:void(0)" class="action-list-item action-delete" role="button">삭제</a>
							</li>
							</ul>
						</div>
					</div>
				</header>
				<div class="response-body"><p>나는 모듈의 시험에 MCB80x으로 통과 점수를 득점 나는 아직도 내가 버는 것 믿게 된 인증을받지 못했습니다. 일이 무엇인지 알려주세요?</p></div>
			</div>

			<div class="discussion-response">
				<header>
					<div class="response-header-content">
						<h3>[교육과정명] 스타트업을 위한 플랫폼 비즈니스 모델기획<span>미완료</span></h3>
						<p class="posted-details">
							<span class="timeago" title="2015-03-23T02:43:07Z">1년전</span> 에 포스팅 됨 by
							<a href="/courses/McGillX/Body101x/1T2015/discussion/forum/users/5929013" class="username">neuroxjx77</a>
						</p>
					</div>
					<div class="response-header-actions">
						<div class="actions-button">
							<ul>
							<li class="actions-item">
								<a href="javascript:void(0)" class="action-list-item action-edit" role="button">수정</a>
							</li>
						
							<li class="actions-item">
								<a href="javascript:void(0)" class="action-list-item action-delete" role="button">삭제</a>
							</li>
							</ul>
						</div>
					</div>
				</header>
				<div class="response-body"><p>나는 모듈의 시험에 MCB80x으로 통과 점수를 득점 나는 아직도 내가 버는 것 믿게 된 인증을받지 못했습니다. 일이 무엇인지 알려주세요?</p></div>
			</div>

			<div class="discussion-response">
				<header>
					<div class="response-header-content">
						<h3>[교육과정명] 스타트업을 위한 플랫폼 비즈니스 모델기획<span>미완료</span></h3>
						<p class="posted-details">
							<span class="timeago" title="2015-03-23T02:43:07Z">1년전</span> 에 포스팅 됨 by
							<a href="/courses/McGillX/Body101x/1T2015/discussion/forum/users/5929013" class="username">neuroxjx77</a>
						</p>
					</div>
					<div class="response-header-actions">
						<div class="actions-button">
							<ul>
							<li class="actions-item">
								<a href="javascript:void(0)" class="action-list-item action-edit" role="button">수정</a>
							</li>
						
							<li class="actions-item">
								<a href="javascript:void(0)" class="action-list-item action-delete" role="button">삭제</a>
							</li>
							</ul>
						</div>
					</div>
				</header>
				<div class="response-body"><p>나는 모듈의 시험에 MCB80x으로 통과 점수를 득점 나는 아직도 내가 버는 것 믿게 된 인증을받지 못했습니다. 일이 무엇인지 알려주세요?</p></div>
			</div>

			<div class="discussion-response">
				<div class="none">
					<span>작성하신 강의 한줄평 내용이 없습니다.</span>
				</div>
			</div>

		</section>

		<section class="pagination">
			<nav class="discussion-paginator">
				<ol>
					<li><a class="discussion-pagination" href="?discussion_page=1" data-page-number="1" title="이전">&lt;</a></li>
					<li><a class="discussion-pagination" href="?discussion_page=1" data-page-number="1">1</a></li>
					<li class="current-page"><span>2</span></li>
					<li><a class="discussion-pagination" href="?discussion_page=3" data-page-number="3">3</a></li>

					<li>…</li>
					<li><a class="discussion-pagination" href="?discussion_page=97" data-page-number="97">97</a></li>
					<li><a class="discussion-pagination" href="?discussion_page=2" data-page-number="2" title="다음">&gt;</a></li>
				</ol>
			</nav>
		</section>

	</section><!-- //course-board-->

</section>