<%!
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

	<!-- region: Secondary Content -->
	<style>
		.view-display-members-full .member-list.professor li .member-images {
		  position: absolute;
		  right: -4px;
		  bottom: 0;
		  z-index: 10;
		}
		.view-header {width:1178px}
		.view-content .member-list > li.views-row-odd {cursor:pointer}
		.view-display-members-full .member-list.professor li .course-list li {margin-bottom:10px;padding-left:0;font-size:13px}
	</style>
	<script>
		function go_page(url){
			location.href = url;
		}
	</script>
	<div class="region-column-wrapper">
		<div class="region-columns region-container container">
			<div class="region-container-inner">
				<div id="columns" class="columns clearfix">
					<div id="content-column" class="content-column" role="main" aria-label="Content">
						<div class="content-inner">
						<!-- region: Highlighted -->
							<section id="main-content" class="professor">
								<header id="main-content-header" class="clearfix"></header>
					  		<!-- region: Main Content -->
								<div id="content" class="region">
									<div class="region-container-inner">
										<div id="block-views-members-full" class="block block-views no-title" >
											<div class="view view-members view-display-members-full">
												<div class="view-header">
													<a name="charter-members"></a>
													<h2 style="margin-bottom:0px;" class="members-header"><span>대표 교수진</span></h2>
													<p>아카데미X는 온라인 미디어 인터넷 기술과 디지털 지식에 뿌리를 두고있습니다.</p>
												</div>
												<div class="view-content">
													<ul class="member-list professor">
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=1')">

													<em>황병선 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/01.png" alt="황병선 대표 교수" title="황병선 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>플랫폼 사업과 웨어러블 생태계 이해의 기초</li>
																<li>초기 투자 유치를 위한 제안서 작성</li>
																<!-- <li>플랫폼 사업과 생태계 전략의 이해</li> -->
																</ul>
															</div>
															<div class="member-history">
																<ul style="margin-top:0">
																<li>아카데미엑스 대표</li>
																<li>빅뱅엔젤스 대표</li>
																<li>KAIST 대우교수</li>
																<li>전) 청강대 전임교수</li>
																<li>전) LG전자, LG CNS</li>
																<li>플랫폼, 생태계, BM</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor"  onclick="go_page('/professor_sub?pfs=2')">
													<em>김진영 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/02.png" alt="김진영 대표 교수" title="김진영 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>비즈니스 모델 개념 이해와 고객가치명제 설계(디자인)</li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>로아컨설팅 대표</li>
																<li>아카데미엑스 CCO</li>
																<li>경영학 박사</li>
																<li>전) 소프트 뱅크 컨설팅</li>
																<li>전) 소프트뱅크미디어</li>
																<li>플랫폼 전략, BMG</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=3')">
													<em>명승은 대표 교수</em>
														<div class="member-images" style="right:10px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/11.png" alt="명승은 대표 교수" title="명승은 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>스타트업, 세상에 알리기</li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>벤처스퀘어 공동대표</li>
																<li>경희사이버대 겸임교수</li>
																<li>전) MBC 내일ON 진행자</li>
																<li>다수 스타트업 창업자</li>
																<li>링블로그-그만의 아이디어</li>
																<li>미디어, PR&마케팅 전문</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=4')">
													<em>박민우 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/04.png" alt="박민우 대표 교수" title="박민우 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>O2O 트렌드로 배우는 서비스 및 플랫폼 전략의 이해</li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>청강문화산업대 교수</li>
																<li>유니비스타 CEO</li>
																<li>아카데미엑스 CTO</li>
																<li>전) 이모션 본부장</li>
																<li>전) 현대정보기술</li>
																<li>IoT, O2O, 모바일, 플랫폼</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=5')">
													<em>백상훈 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/05.png" alt="백상훈 대표 교수" title="백상훈 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>스토리텔링기반 스타트업 사업계획서 작성</li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>로아컨설팅 이사</li>
																<li>계명대학교 겸임교수</li>
																<li>전) <small>(주)</small>CJ 경영전략실</li>
																<li>전) 엑센추어 컨설턴트</li>
																<li>전) 벤처포트 컨설턴트</li>
																<li>콘텐츠, BM, 융합</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=6')">
													<em>선성관 대표 교수</em>
														<div class="member-images" style="right:10px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/06.png" alt="선성관 대표 교수" title="선성관 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>스타트업을 위한 재무관리 기초 - 세무관리 편</li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>디앤엘세무회계컨설팅 대표 공인회계사</li>
																<li>전) 웅지세무대학교 조교수</li>
																<li>전) 딜로이트 안진회계법인 근무</li>
																<li>공인회계사 / 세무사</li>
																<li>세무, 회계</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=7')">
													<em>김성원 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/07.png" alt="김성원 대표 교수" title="김성원 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>공공 스마트 미디어 구축과 서비스 모델 개발</li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>M&M네트웍스 대표</li>
																<li>디지털융합협동조합 이사장</li>
																<li>전) 현대아이티 본부장</li>
																<li>전) 한국통신데이타 이사</li>
																<li>스마트미디어, 디지털사이니지, 서비스모델</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=8')">
													<em>고영혁 대표 교수</em>
														<div class="member-images" style="right:10px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/08.png" alt="고영혁 대표 교수" title="고영혁 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>데이터 분석 기반 Growth Hacking (기초)</li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>고넥터 대표</li>
																<li>경희사이버대 모바일융합학과 겸임교수</li>
																<li>푸드테크 협동조합 어메이징브로 이사</li>
																<li>전) eBay Gmarket</li>
																<li>전) NHN, NHN GAMES</li>
																<li>데이터사이언스, 그로스해킹, HR</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=9')">
													<em>김태현 대표 교수</em>
														<div class="member-images" style="right:10px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/09.png" alt="김태현 대표 교수" title="김태현 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>소셜미디어 중심의 스타트업 마케팅</li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>벤처스퀘어 공동대표</li>
																<li>"버섯돌이" 블로거</li>
																<li>전) 티그레이프</li>
																<li>전) 유저스토리랩</li>
																<li>소셜미디어 기획,마케팅</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=10')">
													<em>김석기 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/10.png" alt="김석기 대표 교수" title="김석기 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>Mophon 대표</li>
																<li>PAG&파트너스 부대표</li>
																<li>전) 중앙일보 이사</li>
																<li>전) 로아컨설팅 이사</li>
																<li>전) 삼성전자, DAUM</li>
																<li>IoT, 콘텐츠, 서비스기획</li>
																</ul>
															</div>
														</div>
													</li>

													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=15')">
													<em>최형욱 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/16.png" alt="최형욱 대표 교수" title="최형욱 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>퓨쳐디자이너스 대표</li>
																<li>매직에코 대표</li>
																<li>Life Square Co-founder</li>
																<li>PAN Co-founder</li>
																<li>전)innoCatalyst</li>
																<li>전)삼성전자</li>
																<li>사물인터넷,비즈니스 전략</li>
																</ul>
															</div>
														</div>
													</li>

													</ul>
												</div>
											</div>
										</div>
										<div id="block-views-members-standard" class="block block-views no-title">
											<div class="view view-members view-display-members-full">
												<div class="view-header">
													<a name="charter-members"></a>
													<h2 style="margin-bottom:0px;" class="members-header"><span>강의 교수진</span></h2>
													<p>아카데미X는 온라인 미디어 인터넷 기술과 디지털 지식에 뿌리를 두고있습니다.</p>
												</div>
												<div class="view-content">
													<ul class="member-list professor">

													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=11')">
													<em>강재민 강의 교수</em>
														<div class="member-images" style="right:10px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/03.png" alt="강재민 강의 교수" title="강재민 강의 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>아이디어 도출과 제품 컨셉 개발</li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>로아컨설팅 이사</li>
																<li>비즈니스모델게임 저자</li>
																<li>로아인벤션랩 파트너</li>
																<li>토네이도 게임즈 창업</li>
																<li>전) GM대우</li>
																<li>제품 기획, BM, Ideation</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=12')">
													<em>심규병 강의 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/12.png" alt="심규병 강의 교수" title="심규병 강의 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>스타트업 세일즈의 A to Z</li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>PONPLE CSO/이사</li>
																<li>PAG&파트너스 파트너</li>
																<li>전) 호스트웨어 본부장</li>
																<li>전) 퓨처스트림네트웍스</li>
																<li>심플렉스인터넷 부장</li>
																<li>B2B, 그로스해킹, 마케팅</li>
																</ul>
															</div>
														</div>
													</li>

													</ul>
												</div>
											</div>
										</div>
										<div id="block-views-members-standard" class="block block-views no-title">
											<div class="view view-members view-display-members-full">
												<div class="view-header">
													<a name="charter-members"></a>
													<h2 style="margin-bottom:0px;" class="members-header"><span>자문단</span></h2>
													<p>아카데미X는 온라인 미디어 인터넷 기술과 디지털 지식에 뿌리를 두고있습니다.</p>
												</div>
												<div class="view-content">
													<ul class="member-list professor">
													<!--
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=14')"
													style="display:none">
													<em>정지훈 자문 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/13.png" alt="정지훈 자문 교수" title="정지훈 자문 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li></li>
																<li></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>경희사이버대 교수</li>
																<li>KAIST 겸직교수</li>
																<li>IT 전문가, 미래학자</li>
																<li>다수 스타트업 창업자</li>
																<li>미래 융합, 의공학 박사</li>
																</ul>
															</div>
														</div>
													</li>
													-->
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=13')">
													<em>허정윤 자문 교수</em>
														<div class="member-images" style="right:16px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/15.png" alt="허정윤 자문 교수" title="허정윤 자문 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li></li>
																<li></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>국민대학교 교수</li>
																<li>전) LG전자/삼성생명</li>
																<li>UX 전문가</li>
																</ul>
															</div>
														</div>
													</li>
													<!--
													<li class="views-row-odd views-row-first member member-tile member-professor" onclick="go_page('/professor_sub?pfs=15')">
													<em>최형욱 자문 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor14.png" alt="허정윤 자문 교수" title="허정윤 자문 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li>과목명1</li>
																<li>과목명2</li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>삼성전자, LG CNS에서 게임, IPTV, 안드로이드 프로젝트에 참여.</li>
																<li>LG전자에서는 게임전략, 전사 서비스 플랫폼 전략 등을 거쳐</li>
																<li>직접 소셜,클라우드 서비스 개발에 참여.</li>
																<li>현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</li>
																</ul>
															</div>
														</div>
													</li>
													-->
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section><!-- /end /professor_submain-content -->
							<!-- region: Content Aside -->
					  </div><!-- /end .content-inner -->
				</div><!-- /end /professor_subcontent-column -->

				<!-- regions: Sidebar first and Sidebar second -->

			  </div><!-- /end /professor_subcolumns -->
			</div><!-- /end .region-container-inner -->
		</div><!-- /end /professor_subregion-columns -->
  </div><!-- /end /professor_subregion-column-wrapper -->