<%! 
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

	<!-- region: Secondary Content -->
	<style>
		.view-display-members-full .member-list.professor li .member-images {
		  position: absolute;
		  right: -4px;
		  bottom: 0;
		  z-index: 10;
		}
		.view-header {width:1178px}
	</style>
	<div class="region-column-wrapper">
		<div class="region-columns region-container container">
			<div class="region-container-inner">
				<div id="columns" class="columns clearfix">
					<div id="content-column" class="content-column" role="main" aria-label="Content">
						<div class="content-inner">
						<!-- region: Highlighted -->
							<section id="main-content" class="professor">
								<header id="main-content-header" class="clearfix"></header>
					  		<!-- region: Main Content -->
								<div id="content" class="region">
									<div class="region-container-inner">
										<div id="block-views-members-full" class="block block-views no-title" >
											<div class="view view-members view-display-members-full">
												<div class="view-header">
													<a name="charter-members"></a>
													<h2 style="margin-bottom:0px;" class="members-header"><span>대표 교수진</span></h2>
													<p>아카데미X는 온라인 미디어 인터넷 기술과 디지털 지식에 뿌리를 두고있습니다.</p>
												</div>
												<div class="view-content">
													<ul class="member-list professor">
													<li class="views-row-odd views-row-first member member-tile member-professor">
													
													<em>황병선 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/01.png" alt="황병선 대표 교수" title="황병선 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">플랫폼 비즈니스 모델 기획</a></li>
																<li><a href="/professor_sub">초기 투자 유치를 위한 제안서 작성</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>아카데미X 대표</li>
																<li>KAIST 대우교수</li>
																<li>전) 청강대 전임교수</li>
																<li>전) LG전자, LG CNS</li>
																<li>플랫폼, 생태계, BM</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>김진영 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/02.png" alt="김진영 대표 교수" title="김진영 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">비즈니스 모델과 고객가치명제 디자인</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>로아컨설팅 대표</li>
																<li>아카데미X CCO</li>
																<li>전) 소프트 뱅크 컨설팅</li>
																<li>전) 소프트뱅크미디어</li>
																<li>플랫폼 전략, BMG , BM</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>명승은 대표 교수</em>
														<div class="member-images" style="right:10px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/11.png" alt="명승은 대표 교수" title="명승은 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">스타트업의 언론 홍보</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>벤처스퀘어 대표</li>
																<li>MBC 내일ON 진행자</li>
																<li>다수 스타트업 창업자</li>
																<li>링블로그-그만의 아이디어</li>
																<li>미디어, PR&마케팅 전문</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>박민우 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/04.png" alt="박민우 대표 교수" title="박민우 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">O2O 트렌드로 배우는 서비스 전략</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>현 유니비스타 대표</li>
																<li>아카데미X CTO</li>
																<li>전) 이모션 CTO</li>
																<li>청강대 초빙교수</li>
																<li>현대정보기술</li>
																<li>검색, 웹 플랫폼 QA</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>백상훈 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/05.png" alt="백상훈 대표 교수" title="백상훈 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">스토리텔링기반 창업 사업계획서 작성</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>로아컨설팅 이사</li>
																<li>전) <small>(주)</small>CJ 경영전략실</li>
																<li>전) 엑센추어 컨설턴트</li>
																<li>전) 벤처포트 컨설턴트</li>
																<li>콘텐츠, BM, 융합</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>선성광 대표 교수</em>
														<div class="member-images" style="right:10px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/06.png" alt="선성광 대표 교수" title="선성광 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">스타트업을 위한 세무/법무/회계 기초</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>디앤엘컴패니 대표</li>
																<li>현) 웅지세무대학교 교수</li>
																<li>전) 딜로이트</li>
																<li>전) 세무사/회계사</li>
																<li>세무, 회계</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>김성원 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/07.png" alt="김성원 대표 교수" title="김성원 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">스마트 미디어 분야의 서비스 모델 개발</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>M&M네트웍스 대표</li>
																<li>디지털융합협동조합 이사장</li>
																<li>전) 현대아이티 본부장</li>
																<li>전) 한국통신데이타 이사</li>
																<li>DOHC, IoT, 융합 전문</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>고영혁 대표 교수</em>
														<div class="member-images" style="right:10px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/08.png" alt="고영혁 대표 교수" title="고영혁 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">스타트업이 꼭 알아야 할 HR 스킬 3가지</a></li>
																<li><a href="/professor_sub">데이터 분석 기반 Growth Hacking</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>고텍터 대표</li>
																<li>홍합밸리 파운더</li>
																<li>전) eBay Gmarket</li>
																<li>전) NHN, NHN게임즈</li>
																<li>콘텐츠, 서비스사업</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>김태현 대표 교수</em>
														<div class="member-images" style="right:10px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/09.png" alt="김태현 대표 교수" title="김태현 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">소셜미디어 중심의 스타트업 마케팅</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>벤처스퀘어 이사</li>
																<li>버섯돌이 블로그</li>
																<li>전) 티그레이프</li>
																<li>전) 유저스토리랩</li>
																<li>소셜미디어 기획,마케팅</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>김석기 대표 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/10.png" alt="김석기 대표 교수" title="김석기 대표 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">콘텐츠 사업에서의 수익 모델 기획</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>Mophon 대표</li>
																<li>전) 중앙일보 이사</li>
																<li>전) 로아컨설팅 이사</li>
																<li>전) 삼성전자, DAUM</li>
																<li>IoT, 콘텐츠, 서비스 기획</li>
																</ul>
															</div>
														</div>
													</li>
													
													</ul>
												</div>
											</div>
										</div>
										<div id="block-views-members-standard" class="block block-views no-title">
											<div class="view view-members view-display-members-full">
												<div class="view-header">
													<a name="charter-members"></a>
													<h2 style="margin-bottom:0px;" class="members-header"><span>강의 교수진</span></h2>
													<p>아카데미X는 온라인 미디어 인터넷 기술과 디지털 지식에 뿌리를 두고있습니다.</p>
												</div>
												<div class="view-content">
													<ul class="member-list professor">
													
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>강재민 강의 교수</em>
														<div class="member-images" style="right:10px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/03.png" alt="강재민 강의 교수" title="강재민 강의 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">아이디어 창출과 제품 기획</a></li>
																<li><a href="/professor_sub">크라우드펀딩 성공하기</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>로아컨설팅 이사</li>
																<li>전) 호스트웨어 본부장</li>
																<li>전) 푸처스트림스</li>
																<li>B2B, 그로스해킹, 마케팅</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>심규병 강의 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/12.png" alt="심규병 강의 교수" title="심규병 강의 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">스타트업을 위한 세일즈 A To Z</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>병맛파트너스 대표</li>
																<li>전) 호스트웨어 본부장</li>
																<li>전) 퓨처스트림스</li>
																<li>B2B, 그로스해킹, 마케팅</li>
																</ul>
															</div>
														</div>
													</li>
													
													</ul>
												</div>
											</div>
										</div>
										<div id="block-views-members-standard" class="block block-views no-title">
											<div class="view view-members view-display-members-full">
												<div class="view-header">
													<a name="charter-members"></a>
													<h2 style="margin-bottom:0px;" class="members-header"><span>자문단</span></h2>
													<p>아카데미X는 온라인 미디어 인터넷 기술과 디지털 지식에 뿌리를 두고있습니다.</p>
												</div>
												<div class="view-content">
													<ul class="member-list professor">
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>정지훈 자문 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/13.png" alt="정지훈 자문 교수" title="정지훈 자문 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li></li>
																<li></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>경희사이버대 교수</li>
																<li>KAIST 겸직교수</li>
																<li>IT 전문가, 미래학자</li>
																<li>다수 스타트업 창업자</li>
																<li>미래 융합, 의공학 박사</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>허정윤 자문 교수</em>
														<div class="member-images" style="right:16px">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/pro_new/type2/15.png" alt="허정윤 자문 교수" title="허정윤 자문 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li></li>
																<li></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>경희사이버대 교수</li>
																<li>KAIST 겸직교수</li>
																<li>IT 전문가, 미래학자</li>
																<li>다수 스타트업 창업자</li>
																<li>미래 융합, 의공학 박사</li>
																</ul>
															</div>
														</div>
													</li>
													<!--
													<li class="views-row-odd views-row-first member member-tile member-professor">
													<em>최형욱 자문 교수</em>
														<div class="member-images">
															<img typeof="foaf:Image" class="image-style-none" src="/static/themes/default/images/professor/img_professor14.png" alt="허정윤 자문 교수" title="허정윤 자문 교수" />
														</div>
														<div class="professor">
															<div class="course-list">
																<ul>
																<li><a href="/professor_sub">과목명1</a></li>
																<li><a href="/professor_sub">과목명2</a></li>
																</ul>
															</div>
															<div class="member-history">
																<ul>
																<li>삼성전자, LG CNS에서 게임, IPTV, 안드로이드 프로젝트에 참여.</li>
																<li>LG전자에서는 게임전략, 전사 서비스 플랫폼 전략 등을 거쳐</li>
																<li>직접 소셜,클라우드 서비스 개발에 참여.</li>
																<li>현재 퓨처워커라는 필명으로 플랫폼&서비스전략 전문 블로그를 운영 중.</li>
																</ul>
															</div>
														</div>
													</li>
													-->
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section><!-- /end /professor_submain-content -->
							<!-- region: Content Aside -->
					  </div><!-- /end .content-inner -->
				</div><!-- /end /professor_subcontent-column -->

				<!-- regions: Sidebar first and Sidebar second -->

			  </div><!-- /end /professor_subcolumns -->
			</div><!-- /end .region-container-inner -->
		</div><!-- /end /professor_subregion-columns -->
  </div><!-- /end /professor_subregion-column-wrapper -->