<div id="widget-preview" data-course-id="36301"><div id="ct-widget-container" class="ct-widget-container">
	<div class="ct-widget">
		<div class="ct-widget__header">
			<h2 class="ct-widget__header__title">수강생 한줄평</h2>
			<div class="ct-widget__header__rating ct-widget__header__rating--wrap">
				<!--<span class="ct-rating-stars ct-rating-stars--s9"></span>-->
				<span class="ct-widget__header__rating__label">총 <span>51</span>개의 과목 한줄평</span>
			</div>
			<div class="clearfix"></div>
			<div class="ct-widget__body__actions">
				<button class="ct-widget__button__write-review ct-widget__button__write-review--full">
					과목 한줄평 등록
				</button>
			</div>
			<div class="review_write">
				<div><span class="ct-widget__review__header__rating"><span class="ct-rating-stars ct-rating-stars--s4"></span></span></div>
				<textarea class="wmd-input" id="wmd-input-comment-body-54eba33f2a472de316000bae" placeholder="100자 이내로 과목 한줄평을 작성해 주세요."></textarea>
				<div class="ct-widget__body__actions">
					<button class="ct-widget__button__write-review ct-widget__button__write-review--full">
						등록완료
					</button>
				</div>
			</div>
		</div>
		<div class="ct-widget__body">
			<div class="ct-widget__body__reviews">
				<div class="ct-widget__review">
					<div class="ct-widget__review__profile-img">
						<img src="static/images/ximg/p_default_small.png" width="40px" height="40px">
					</div>
					<div class="ct-widget__review__container">
						<div class="ct-widget__review__header">
							<span class="ct-widget__review__header__profile"><span class="ct-widget__review__header__author-name">황혜미(Hwnag304****)</span></span>
							<span class="ct-widget__review__header__rating"><span class="ct-rating-stars ct-rating-stars--s4"></span></span>
						</div>
						<div class="ct-widget__review__body">
						강의 너무 좋아요~ 교수님 목소리도 좋고 어려워하던 부분인데 시간가는줄 모르고 들었습니다^^
						<!--<a class="ct-widget__review__body__more">more</a>
						<input type="hidden" data-review-id="73477" value="Learned nothing, feels like I wasted my time. It's basically a 4 hour class to tell you not to be a sexist/racist. Really? Thanks for the info. Don't look for practical information here: it just feels like empty words with no actionable advice for tough situations. The instructors don't even know their material well enough to make video without fumbling. Most important lesson: never hire Catalyst.">-->
						</div>
					</div>
				</div>
				<div class="ct-widget__review">
					<div class="ct-widget__review__profile-img">
						<img src="static/images/ximg/p_default_small.png" width="40px" height="40px">
					</div>
					<div class="ct-widget__review__container">
						<div class="ct-widget__review__header">
							<span class="ct-widget__review__header__profile"><span class="ct-widget__review__header__author-name">황혜미(Hwnag304****)</span></span>
							<span class="ct-widget__review__header__rating"><span class="ct-rating-stars ct-rating-stars--s8"></span></span>
						</div>
						<div class="ct-widget__review__body">
						강의 너무 좋아요~ 교수님 목소리도 좋고 어려워하던 부분인데 시간가는줄 모르고 들었습니다^^
						<!--<a class="ct-widget__review__body__more">more</a>
						<input type="hidden" data-review-id="73477" value="Learned nothing, feels like I wasted my time. It's basically a 4 hour class to tell you not to be a sexist/racist. Really? Thanks for the info. Don't look for practical information here: it just feels like empty words with no actionable advice for tough situations. The instructors don't even know their material well enough to make video without fumbling. Most important lesson: never hire Catalyst.">-->
						</div>
					</div>
				</div>
				<div class="ct-widget__review">
					<div class="ct-widget__review__profile-img">
						<img src="static/images/ximg/p_default_small.png" width="40px" height="40px">
					</div>
					<div class="ct-widget__review__container">
						<div class="ct-widget__review__header">
							<span class="ct-widget__review__header__profile"><span class="ct-widget__review__header__author-name">황혜미(Hwnag304****)</span></span>
							<span class="ct-widget__review__header__rating"><span class="ct-rating-stars ct-rating-stars--s7"></span></span>
						</div>
						<div class="ct-widget__review__body">
						강의 너무 좋아요~ 교수님 목소리도 좋고 어려워하던 부분인데 시간가는줄 모르고 들었습니다^^
						<!--<a class="ct-widget__review__body__more">more</a>
						<input type="hidden" data-review-id="73477" value="Learned nothing, feels like I wasted my time. It's basically a 4 hour class to tell you not to be a sexist/racist. Really? Thanks for the info. Don't look for practical information here: it just feels like empty words with no actionable advice for tough situations. The instructors don't even know their material well enough to make video without fumbling. Most important lesson: never hire Catalyst.">-->
						</div>
					</div>
				</div>
			</div>
	</div>
	
		<div class="ct-widget__more-reviews">
			<a class="ct-widget__more-reviews__link" href="https://www.coursetalk.com/providers/edx/courses/ilx1-inclusive-leadership-training-becoming-a-successful-leader-2#tab-reviews" target="_blank">
				<span>더보기</span>
			</a>
		</div>
	
</div>
</div>
</div>
<script>
	window.CT_WIDGET_SETTINGS = {"signUpPane": false, "numReviewsBelowStars": true, "showFullReviewLink": false, "header": "Student Reviews", "hideCTLogo": true, "moreReviewsBody": "Read More on {coursetalk_logo}", "usernameLinks": false, "stretchWriteReviewButton": true, "numReviewsLink": false};

	window.CT_MIXPANEL_OPTIONS = {
		token: '',

		flavour: ""
	};
</script>
<script src="https://d3q6qq2zt8nhwv.cloudfront.net/s/js/widgets/widget_review_frame_container.js"></script>