<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%page args="course" />
<div class="course-card">
	<a href="/courses/edX/DemoX/Demo_Course/about" class="course-link">
		<div class="img-wrapper"><img src="/static/themes/default/images/img_course04.jpg" alt="The Body Matters"/></div>
	</a>
	<div class="label"></div>
	<div class="course-code"></div>
	<div class="title"><p></p></div>
	<div class="availability"></div>
	<div class="date"></div>
</div>
