<%! from django.utils.translation import ugettext as _ %>
<%! from django.template import RequestContext %>
<%! import third_party_auth %>
<%! from third_party_auth import pipeline %>
<%! from microsite_configuration import microsite %>

<%!
  from django.core.urlresolvers import reverse
%>

<%
  cert_name_short = settings.CERT_NAME_SHORT
  cert_name_long = settings.CERT_NAME_LONG
%>

<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<%block name="pagetitle">${_("Dashboard")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>
<%block name="nav_skip">#my-courses</%block>

<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="js_extra">
  <%static:js group='dashboard'/>
  <script type="text/javascript">
    $(document).ready(function() {
      edx.dashboard.legacy.init({
        dashboard: "${reverse('dashboard')}",
        signInUser: "${reverse('signin_user')}",
        passwordReset: "${reverse('password_reset')}",
        changeEmail: "${reverse('change_email')}",
        changeEmailSettings: "${reverse('change_email_settings')}",
        changeName: "${reverse('change_name')}",
        verifyToggleBannerFailedOff: "${reverse('verify_student_toggle_failed_banner_off')}",
      });
    });
  </script>
</%block>

<div class="dashboard-notifications" tabindex="-1">
    % if reverifications["must_reverify"] or reverifications["denied"]:
        ## Section Element must be outside of the re-verify template. The template is re-used for courseware, and has separate styling.
        <section class="dashboard-banner">
            <%include file='dashboard/_dashboard_prompt_midcourse_reverify.html' />
        </section>
    % endif

    %if message:
        <section class="dashboard-banner">
            ${message}
        </section>
    %endif

    % if duplicate_provider:
        <section class="dashboard-banner third-party-auth">
            <%include file='dashboard/_dashboard_third_party_error.html' />
        </section>
    % endif

    %if enrollment_message:
        <section class="dashboard-banner">
            ${enrollment_message}
        </section>
    %endif
</div>
<div class="container">
	<section class="dashboard" id="dashboard-main">
		<section class="profile-sidebar" role="region" aria-label="User info">
			<section class="user-info">
			  <ul>
				<li class="info--email">
				  <span class="title">이메일</span>
				  <span class="data">${ user.email | h }</span>
				</li>
				<li class="info--username">
				  <span class="title">이름</span>
				  <span class="data" style="display:inline-block;width: 158px;">${ user.profile.name | h }</span>
				  <span class="control" style="display:inline-block;font-size: 12px;line-height: 17.76px;position: relative;top: -10px;right: -20px;"> 
					<!-- <a href="#apply_name_change" rel="leanModal" class="edit-name">수정하기</a> -->
				  </span>
				</li>
				<li class="info--username">
				  <span class="title">별명</span>
				  <span class="data" style="display:inline-block;width: 158px;">${ user.username }</span>
				</li>

				%if len(language_options) > 1:
				<%include file='dashboard/_dashboard_info_language.html' />
				%endif

				% if third_party_auth.is_enabled():
				<li class="controls--account">
				  <span class="title">
					## Translators: this section lists all the third-party authentication providers (for example, Google and LinkedIn) the user can link with or unlink from their edX account.
					연결된 계정정보
				  </span>

				  <span class="data">
					<span class="third-party-auth">

					% for state in provider_user_states:
					<div class="auth-provider">

					  <div class="status">
						% if state.has_account:
						<i class="icon fa fa-link"></i> <span class="copy">${_("Linked")}</span>
						% else:
						<i class="icon fa fa-unlink"></i><span class="copy">${_("Not Linked")}</span>
						% endif
					  </div>

					  <span class="provider">${state.provider.NAME}</span>
					  
					  <span class="control">
					  % if state.has_account:
						<form
						  action="${pipeline.get_disconnect_url(state.provider.NAME)}"
						  method="post"
						  name="${state.get_unlink_form_name()}">
						  <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">

						  <a href="#" onclick="document.${state.get_unlink_form_name()}.submit()">
						  연결끊기
						  </a>
						</form>
					  % else:
						  <a href="${pipeline.get_login_url(state.provider.NAME, pipeline.AUTH_ENTRY_DASHBOARD, redirect_url='/')}">
						  연결하기
						  </a>
					  % endif
					  </span>
					</div>
					% endfor

					</span>
				  </span>
				</li>
				% endif
				
				% if len(order_history_list):
				<li class="order-history">
				  <span class="title">${_("Order History")}</span>
				  % for order_history_item in order_history_list:
					<span><a href="${order_history_item['receipt_url']}" target="_blank" class="edit-name">${order_history_item['order_date']}</a></span>
				  % endfor
				</li>
				% endif

				% if external_auth_map is None or 'shib' not in external_auth_map.external_domain:
				<li class="controls--account">
					<span class="title"><a href="#password_reset_complete" rel="leanModal" id="pwd_reset_button">비밀번호 수정</a></span>
					<form id="password_reset_form" method="post" data-remote="true" action="${reverse('password_reset')}">
					<input id="id_email" type="hidden" name="email" maxlength="75" value="${user.email}" />
					</form>
				</li>
				% endif

				<%include file='dashboard/_dashboard_status_verification.html' />

				<%include file='dashboard/_dashboard_reverification_sidebar.html' />

			  </ul>
			</section>
		  </section>
		  <section class="my-courses" id="my-courses" role="main" aria-label="Content">
			<header class="wrapper-header-courses">
			  <!--<h2 class="header-courses">${_("Current Courses")}</h2>-->
			  <h2 class="element-invisible">내가 신청한 과정</h1>
				<nav>
					<ul>
					<li class="on"><a href="/dashboard">내가 신청한 과정</a></li>
					<!--<li><a href="/friend">친구가 신청한 과정</a></li>-->
					<li><a href="/certificate">수료증 보기</a></li>
					</ul>
				</nav>
			</header>

			% if len(course_enrollment_pairs) > 0:
			  <ul class="listing-courses">
			  <% share_settings = settings.FEATURES.get('DASHBOARD_SHARE_SETTINGS', {}) %>
			  % for dashboard_index, (course, enrollment) in enumerate(course_enrollment_pairs):
				<% show_courseware_link = (course.id in show_courseware_links_for) %>
				<% cert_status = cert_statuses.get(course.id) %>
				<% show_email_settings = (course.id in show_email_settings_for) %>
				<% course_mode_info = all_course_modes.get(course.id) %>
				<% show_refund_option = (course.id in show_refund_option_for) %>
				<% is_paid_course = (course.id in enrolled_courses_either_paid) %>
				<% is_course_blocked = (course.id in block_courses) %>
				<% course_verification_status = verification_status_by_course.get(course.id, {}) %>
				<% course_requirements = courses_requirements_not_met.get(course.id) %>
				<%include file='dashboard/_dashboard_course_listing.html' args="course=course, enrollment=enrollment, show_courseware_link=show_courseware_link, cert_status=cert_status, show_email_settings=show_email_settings, course_mode_info=course_mode_info, show_refund_option = show_refund_option, is_paid_course = is_paid_course, is_course_blocked = is_course_blocked, verification_status=course_verification_status, course_requirements=course_requirements, dashboard_index=dashboard_index, share_settings=share_settings" />
			  % endfor
			  </ul>
			% else:
			  <section class="empty-dashboard-message">
				% if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
				  <p>교육과정을 등록해주세요.</p>
				  <a href="${marketing_link('COURSES')}">
					교육과정 등록하기
				  </a>
				% else:
				  <p>교육과정을 등록해주세요.</p>
				%endif
			  </section>
			% endif

			% if staff_access and len(errored_courses) > 0:
			  <div id="course-errors">
				<h2>${_("Course-loading errors")}</h2>

			  % for course_dir, errors in errored_courses.items():
				 <h3>${course_dir | h}</h3>
					 <ul>
				   % for (msg, err) in errors:
					   <li>${msg}
						 <ul><li><pre>${err}</pre></li></ul>
					   </li>
				   % endfor
					 </ul>
			  % endfor
			  </div>
			% endif
		  </section>
		  
	</section>
</div>
<section id="email-settings-modal" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="email-settings-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="email-settings-title">
        ${_("Email Settings for {course_number}").format(course_number='<span id="email_settings_course_number"></span>')}
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>

    <form id="email_settings_form" method="post">
      <input name="course_id" id="email_settings_course_id" type="hidden" />
      <label>${_("Receive course emails")} <input type="checkbox" id="receive_emails" name="receive_emails" /></label>
      <div class="submit">
        <input type="submit" id="submit" value="${_("Save Settings")}" />
      </div>
    </form>
  </div>
</section>

<section id="password_reset_complete" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="password-reset-email">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="password-reset-email" style="color: #2e2e2e;font-family: 'NanumBarunGothic' !important;margin-bottom: 10px;">
        비밀번호 수정 이메일을 발송하였습니다
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div>
      <form> <!-- Here for styling reasons -->
        <section>
          <p>이메일은 ${_("{email}").format(email=user.email)}으로 전송되었습니다. 비밀번호를 변경하려면 이메일에 있는 링크를 따르십시오.</p>
        </section>
      </form>
    </div>
  </div>
</section>



<section id="change_email" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change_email_title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2>
        <span id="change_email_title">${_("Change Email")}</span>
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="change_email_body">
      <form id="change_email_form">
        <div id="change_email_error" class="modal-form-error"> </div>
          <div class="input-group">
            <label>${_("Please enter your new email address:")}
              <input id="new_email_field" type="email" value="" />
            </label>
            <label>${_("Please confirm your password:")}
              <input id="new_email_password" value="" type="password" />
            </label>
          </div>
          <section>
            <p>${_("We will send a confirmation to both {email} and your new email address as part of the process.").format(email=user.email)}</p>
          </section>
          <div class="submit">
            <input type="submit" id="submit_email_change" value="${_("Change Email")}"/>
          </div>
      </form>
    </div>
  </div>
</section>

<%include file='modal/_modal-settings-language.html' />

<section id="apply_name_change" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change-name-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="change-name-title">
        이름 변경
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="change_name_body">
      <form id="change_name_form">
        <div id="change_name_error" class="modal-form-error"> </div>
        ## Translators: note that {platform} {cert_name_short} will look something like: "edX certificate". Please do not change the order of these placeholders.
        <p>당신의 ${_("{platform} {cert_name_short}.").format(platform=settings.PLATFORM_NAME, cert_name_short=cert_name_short)} 인증서의 신뢰성을 유지하기 위해, 모든 이름 변경 사항이 기록됩니다.</p>
        <br/>
          <div class="input-group">
            ## Translators: note that {platform} {cert_name_short} will look something like: "edX certificate". Please do not change the order of these placeholders.
            <label>당신의 ${_("{platform} {cert_name_short}:").format(platform=settings.PLATFORM_NAME, cert_name_short=cert_name_short)} 인증서에 나타납니다.
              <input id="new_name_field" value="" type="text" />
            </label>
            <label>${_("Reason for name change:")}
              <textarea id="name_rationale_field" value=""></textarea>
            </label>
          </div>
          <div class="submit">
            <input type="submit" id="submit" value="${_("Change My Name")}">
          </div>
      </form>
    </div>
  </div>
</section>
<section id="apply_nickname_change" class="modal academy" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change-name-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        Close
      </span>
    </button>

    <div id="change_nicname_body" class="modal_body">
      <form id="change_nicname_form">
        <div id="change_nicname_error" class="modal-form-error"> </div>
        <p>변경하실 별명을 입력해 주세요</p>
		<p class="status">현재 별명 : appleapple</p>

          <div class="inputBox">
            <label>
              <input id="new_name_field" value="" type="text" placeholder="새로운 별명"/>
            </label>
          </div>
          <div class="submit">
            <input class="btn_block" type="button" value="확인">
			<input class="cancel btn_block" type="button" value="취소">
          </div>
      </form>
    </div>
  </div>
</section>

<section id="password_reset_complete2" class="modal academy" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="password-reset-email">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <div id="change_password_body" class="modal_body">
      <form id="change_nicname_form">
        <div id="change_nicname_error" class="modal-form-error"> </div>
        <p>변경하실 비밀번호를 입력해 주세요</p>

          <div class="inputBox">
			<label>
              <input id="old_password_field" value="" type="text" placeholder="현재 비밀번호"/>
            </label>
            <label>
              <input id="new_password_field" value="" type="text" placeholder="새로운 비밀번호"/>
            </label>
			 <label>
              <input id="new_password_field_confirm"  class="password_confirm" value="" type="text" placeholder="새로운 비밀번호확인"/>
            </label>
          </div>
          <div class="submit">
            <input class="btn_block" type="button" value="확인">
			<input class="cancel btn_block" type="button" value="취소">
          </div>
      </form>
    </div>

  </div>
</section>

<section id="unenroll-modal" class="modal unenroll-modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="unenrollment-modal-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="unenrollment-modal-title">
        <span id='track-info'></span>
        <span id='unenroll_course_number'></span>?
        <span id='refund-info'></span>
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="unenroll_error" class="modal-form-error"></div>
    <form id="unenroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <input name="course_id" id="unenroll_course_id" type="hidden" />
      <input name="enrollment_action" type="hidden" value="unenroll" />
      <div class="submit">
        <input name="submit" type="submit" value="${_("Unenroll")}" />
      </div>
    </form>
  </div>
</section>
<style>
#forgot-password-modal2 .inner-wrapper {
  border-radius: 2px;
  background: #fbfbfb;
  padding-bottom: 0 !important;
}
#forgot-password-modal2 #password-reset {
  padding: 20px;
}
#forgot-password-modal2 #password-reset header {
  margin: 0;
  padding: 0;
}
#forgot-password-modal2 #password-reset .instructions p {
  margin-bottom: 5px;
}
#forgot-password-modal2 #password-reset form {
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  border: none;
  padding: 0;
}
#forgot-password-modal2 #password-reset form .group-form {
  margin: 0;
  padding-top: 0;
  padding-bottom: 20px;
}
#forgot-password-modal2 #password-reset fieldset {
  margin-bottom: 10px;
  padding: 0;
}
#forgot-password-modal2 #password-reset form .list-input {
  margin: 0;
  padding: 0;
  list-style: none;
}
#forgot-password-modal2 #password-reset form .field:last-child {
  margin-bottom: 0;
}
#forgot-password-modal2 #password-reset form .field.text input, #forgot-password-modal #password-reset form .field.email input, #forgot-password-modal #password-reset form .field.textarea input {background: #fafafa;
  margin-bottom: 0;margin: 0;
  padding: 10px 15px;  height: auto;
  font-family: "NanumBarunGothic","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #2e2e2e;  border-radius: 0;}
 #forgot-password-modal2 #password-reset form .form-actions {
  padding: 0 !important;
}
.login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-survey .action-primary, .view-partial-mktgregister .action.action-register, .view-partial-mktgregister .action.access-courseware {  background: #2faa47;
  color: #f2f2f2;}

#forgot-password-modal2 #password-reset .form-actions button[type="submit"] {  background: #2faa47;
  color: #f2f2f2;border: none;
  padding: 10px 20px;
  text-align: center;
  text-shadow: none;
  font-weight: 500;
  letter-spacing: 0;border-radius: 2px;cursor: pointer;
  text-decoration: none;box-sizing: border-box;font-size: 16px;
  line-height: 23.68px;font: normal 1.2rem/1.6rem "NanumBarunGothic","Open Sans",Verdana,Geneva,sans-serif,sans-serif;  
  text-transform: uppercase;  -webkit-font-smoothing: antialiased;}
</style>
<script>
$(function(){
	//모달 팝업 닫기
	$('.modal button.close-modal').click(function(){
		$('.modal').add('#lean_overlay').hide();
	});
	
	//회원탈퇴 팝업 띄우기
	function outPop(){
		$("#forgot-password-modal2").css({'top': Math.max(0, (($(window).height() - $("#forgot-password-modal2").outerHeight()) / 2) + $(window).scrollTop()) + "px"});
		$('#lean_overlay').add('#forgot-password-modal2').show();
	}
	
	//회원탈퇴 되었습니다. 확인버튼 클릭시 팝업 닫기
	$('#btnConfirm').click(function(){
		$('.modal').add('#lean_overlay').hide();

		return false;
	});	
	
	//회원탈퇴버튼 클릭시 회원탈퇴 확인팝업 호출
	$('#pwd_reset_button2').click(function(){
		$('#forgot-password-modal2').hide();
		$("#pop_result").css({'top': Math.max(0, (($(window).height() - $("#forgot-password-modal").outerHeight()) / 2) + $(window).scrollTop()) + "px"});
		$('#pop_result').show();

		return false;
	});	
	
	//회원탈퇴 팝업 띄우기 함수 호출
	//outPop();
});
</script>

<div id="lean_overlay" style="opacity: 1;"></div>
<section id="forgot-password-modal2" class="modal" role="dialog" tabindex="-1" aria-label="Password Reset" style="display:none;position:absolute;top:50%;left:50%;margin-left:-250px;margin-top:-50px;z-index:1000;width:600px">
  <div class="inner-wrapper">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        Close
      </span>
    </button>

    <div id="password-reset">
      <header>
		<h2 class="element-invisible">회원탈퇴</h2>
      </header>

      <div class="instructions">
		<p>회원탈퇴시 신청하신 교육과정의 수료증을 발급받지 못할 수 있습니다.<br>그래도 탈퇴하시겠습니까?</p>
      </div>

      <form id="pwd_reset_form" action="/password_reset/" method="post" data-remote="true">
        <fieldset class="group group-form group-form-requiredinformation">
          <legend class="is-hidden">Required Information</legend>

          <ol class="list-input">
            <li class="field required text" id="forgot-password-modal-field-email">
             <p>이메일 : 이메일연동@연동 &nbsp;&nbsp;이름 : 연동이</p><br>
              <span>비밀번호 : </span>&nbsp;<input style="border:1px solid #ccc;display:inline-block;width:86%;float:right;padding-top:0;padding-bottom:0" class="" id="pwd_reset_email" type="email" name="email" value="" placeholder="" aria-describedby="pwd_reset_email-tip" aria-required="true">
              <!--<span class="tip tip-input" id="pwd_reset_email-tip">This is the e-mail address you used to register with academyx.co</span>-->
            </li>
          </ol>
        </fieldset>

        <div class="form-actions">
          <button style="width:49%;display:inline-block !important" name="submit" type="submit" id="pwd_reset_button2" class="action action-primary action-update">회원탈퇴</button>
		  <button style="width:49%;display:inline-block !important;background:gray;float:right;box-shadow:none" name="submit" type="submit" id="pwd_reset_button" class="action action-primary action-update">취소</button>
        </div>
      </form>
    </div>
  </div>
</section>

<section id="pop_result" class="modal" role="dialog" tabindex="-1" aria-label="Password Reset" style="display:none;position:absolute;top:50%;left:50%;margin-left:-250px;margin-top:-50px;z-index:1000;">
  <div class="inner-wrapper">
    <button class="close-modal" onclick="divHide();">
      <i class="icon fa fa-remove"></i>
      <span class="sr" >
        Close
      </span>
    </button>
	<header style="padding-bottom:0;margin-bottom:10px">
      <h2 style="color: #2e2e2e;font-family: 'NanumBarunGothic' !important;margin-bottom: 10px;">알림</h2>
      <hr>
    </header>
	<div id="password-reset" style="text-align: center;">
      
        <section class="instructions">
          <p>회원탈퇴 되었습니다.</p>
        </section>		
      
    </div>
	
	<div class="form-actions" style="text-align:center">
          <button style="width:90%;background:#2faa47;color:#fff;box-shadow:none;border:none;text-shadow:none;height:100%;margin:0 auto;padding:10px 0;margin-top:25px" name="submit" type="submit" id="btnConfirm" onclick="javascript:popClose()" class="action action-primary action-update">확인</button>
        </div>
  </div>
</section>
